[2017-06-12 19:30] mootpt opened #3 "Terraform Crashes when using github_user or github_team data source where attributes are missing"
Terraform Crashes when using github_user data source where attributes are missing

### Terraform Version
Terraform v0.10.0-dev (d587b6886360332df99b65e834e369e06889ee33)

### Affected Resource(s)
- github_user
- github_team

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Outp

[2017-06-12 19:33] mootpt opened #4 "Add GPG and SSH key to GitHub user data source and members to GitHub team data source"
Add GPG and SSH key to GitHub user data source and members to GitHub team data source:

[code]

Added in https://github.com/terraform-providers/terraform-provider-github/pull/2

[2017-06-13 16:52] hashibot opened #5 "Github Provider: Support API Rate Limiting"
_This issue was originally opened by @johnrengelman as hashicorp/terraform#6016. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

The Github API has a rate limit than can be easily overcome when managing an organization.
This ticket is simply a spot to start a conversa

[2017-06-13 17:56] hashibot opened #6 "github_team_repository not persisted to state?"
_This issue was originally opened by @publysher as hashicorp/terraform#9149. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

My github_team_repository resources do not show up in `terraform show`. Whenever I create a fresh plan, they are indicated as new.
### Terrafor

[2017-06-13 19:25] hashibot opened #7 "[NEW FEATURE] GitHub Provider Scaffold Repository Resource"
_This issue was originally opened by @pantocrator27 as hashicorp/terraform#11343. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Would it be possible for the GitHub provider to provide a resource or extend a current resource that would effectively enable you to scaff

[2017-06-13 20:29] hashibot opened #8 "Crash with empty github_branch_protections restrictions block"
_This issue was originally opened by @jonathanio as hashicorp/terraform#14093. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
Terraform v0.9.4

### Affected Resource(s)
- github_branch_protection

### Terraform Configuration Files
[code]

### De

[2017-06-13 20:32] hashibot opened #9 "GitHub team membership fails to add administrator as team maintainer"
_This issue was originally opened by @davidalger as hashicorp/terraform#14323. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
v0.9.4

### Affected Resource(s)
- github_team_membership

### Terraform Configuration Files
[code]

### Expected Behav

[2017-06-13 21:07] hashibot opened #10 "[FEATURE REQUEST] GitHub Provider/Repository Merge Configuration"
_This issue was originally opened by @pantocrator27 as hashicorp/terraform#14678. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

In managing GitHub repositories, it seems that for repository, you can manage the types of merges you support via PRs such as "merge commi

[2017-06-13 21:09] hashibot opened #11 "provider/github: index out of range panic in resourceGithubTeamRepositoryRead"
_This issue was originally opened by @jrigassio as hashicorp/terraform#14842. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Version 0.9.5
### Panic Output
If Terraform produced a panic, please provide a link to a GitHub Gist containing the output of the `crash.log`.

[2017-06-13 21:09] hashibot opened #12 "[Feature Request] import `github_repository_webhook`"
_This issue was originally opened by @jamietanna as hashicorp/terraform#14854. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

To make it easier to integrate with existing infrastructure, being able to import existing webhooks would be really useful!

[2017-06-13 21:12] hashibot opened #13 "Add Github user SSH Key resource"
_This issue was originally opened by @grv87 as hashicorp/terraform#15039. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Could you add resource to upload ssh key for Github user?

[2017-06-13 21:14] hashibot opened #14 "Feature: GitHub Merge Types"
_This issue was originally opened by @taiidani as hashicorp/terraform#15183. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Version 0.9.6

Adding a feature request to add merge types to the resource_github_repository.

<img width="743" alt="image" src="https://user-i

[2017-06-13 21:14] hashibot opened #15 "Add GPG and SSH key to GitHub user data source"
_This issue was originally opened by @mootpt as hashicorp/terraform#15211. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Add GPG and SSH key to GitHub user data source:

[code]

[2017-06-13 21:54] damacus commented on #9
Adding more context the bot's missed

- The API will allow you to add an administrator as a member.
- It then changes that user to a maintainer in the background.
- On subsequent runs it wants to change it back to member.

[2017-06-13 21:54] damacus commented on #9
I've raised a ticket with github support for this one. I'll post here any updates.

[2017-06-14 18:50] grv87 commented on #15
Duplicate of #4

[2017-06-15 10:28] damacus commented on #9
Github have opened an internal issue for this now, as they've reproduced it with plain HTTP API calls.

[2017-06-16 11:45] #14 closed

[2017-06-17 10:52] stack72 commented on #4
Closed via #2

[2017-06-17 10:52] #4 closed

[2017-06-17 10:52] stack72 commented on #15
Closed via #2

[2017-06-17 10:52] #15 closed

[2017-06-17 11:00] stack72 commented on #3
Closed via #2 - thanks @mootpt :)

[2017-06-17 11:00] #3 closed

[2017-06-25 08:56] sclausson opened #17 "Support renaming of repositories"
### Terraform Version
v0.9.6

### Affected Resource(s)
- github_repository

### Description
If I need to rename a repository, then I would like to be able to change the name without forcing a new resource. Forcing a new resource results in the deletion of the existing repository, including all code, branches, etc.

### Steps to reproduce
Changing:
[code]
To:
[code]
Results in:
[code]

[2017-06-25 10:07] radeksimko commented on #17
Hi @sclausson ,
unfortunately there doesn't seem to be API method for renaming a repo:
https://developer.github.com/v3/repos/

Until (if ever) there's an API & SDK support I'd recommend renaming the repo manually via UI per https://help.github.com/articles/renaming-a-repository/ and then following the steps below to reflect this change in Terraform config:

[code]

Hope it helps.

I'm going to clo

[2017-06-25 10:07] #17 closed

[2017-06-25 11:32] sclausson commented on #17
Makes sense. Thanks for the explanation.

[2017-06-27 18:58] mechastorm opened #18 "Support `enforce_admins` API schema in Github Branch Protection"
Just wanted to make sure that during the provider switch, that this issue is captured

https://github.com/hashicorp/terraform/pull/14195 (WIP: Migrate include_admins to enforce_admins in Github API )

Has the issue above been fixed in this new repo?

Thanks

[2017-06-28 00:31] pantocrator27 commented on #10
https://github.com/terraform-providers/terraform-provider-github/pull/1

[2017-06-28 00:32] pantocrator27 commented on #10
As a result of the above PR, this issue can be considered resolved

[2017-06-28 02:45] pantocrator27 opened #19 "[FEATURE REQUEST] Add Support for Repository Projects"
GitHub has an option for managing projects in a repository:

[code]

It would be nice to add support for this

[2017-06-28 02:50] pantocrator27 opened #20 "[FEATURE REQUEST] Support for GitHub Repository gitignore_template"
It is possible to specify a gitignore_template when creating a repository.  It would be nice to add support for this.

[2017-06-28 02:51] pantocrator27 opened #21 "[FEATURE REQUEST] GitHub Repository license_template"
It is possible to specify a `license_template` when creating a repository.  It would be nice to add support for this.

[2017-06-28 02:52] pantocrator27 commented on #21
Please see https://developer.github.com/v3/repos/#create

[2017-06-28 02:52] pantocrator27 commented on #20
Please see https://developer.github.com/v3/repos/#create

[2017-06-28 02:52] pantocrator27 commented on #19
Please see https://developer.github.com/v3/repos/#create

[2017-06-28 02:56] pantocrator27 opened #22 "[FEATURE REQUEST] GitHub Repository Setting `default_branch`"
It appears like it is possible on an update to a repository to set the default branch.  It would be nice to have this supported.

[2017-06-28 17:05] grubernaut commented on #10
thanks @pantocrator27, solved via #1

[2017-06-28 17:05] #10 closed

[2017-06-28 18:13] pantocrator27 commented on #9
The work around I have had to employ is to set role to maintainer in Terraform.

[2017-06-28 19:37] #22 closed

[2017-06-28 20:43] damacus commented on #9
Yeah, you have to add the admin as a member first then maintainer on a second run. Which is far from ideal. Especially if you're adding new repos to the organisation fairly regularly :/

[2017-06-28 21:07] grubernaut commented on #18
Hey @mechastorm, currently working on this one, should have a fix shortly for you. Thanks!

[2017-06-28 21:16] #20 closed

[2017-06-28 21:17] grubernaut commented on #21
Closed via #24

[2017-06-28 21:17] #21 closed

[2017-06-28 21:42] grubernaut commented on #18
Currently we're blocked on this regression fix until this https://github.com/google/go-github/pull/637 is merged and accepted.
cc: @shurcooL + @gmlewis with a polite ping :heart:

However, in the meantime we can loosely update branch protection with the new `enforce_admins` field for now. We just won't be able to fully fill out `required_pull_request_reviews`.

[2017-06-29 14:23] grubernaut commented on #9
Thanks for your work on this one @damacus! Please let us know when GitHub pushes a fix to their API, and if there are any further changes needed for the provider :smile:

[2017-06-29 16:19] ghost opened #25 "New Resource: Github Organization"
Should there be a Terraform resource that allows the creation of a GitHub Organization?

[2017-06-29 17:33] grubernaut commented on #25
Hey @pantocrator27, thanks for the issue! Currently we cannot create a new GitHub Organization via the Github API.

The API, however, does allow for modifying the Github Organization once it's already been created. Would that be useful here?

[2017-06-29 17:35] pantocrator27 commented on #25
I think that would be useful because it could be imported after it was created.  What are you thoughts?

[2017-06-29 20:28] mechastorm commented on #18
Looks like https://github.com/google/go-github/pull/637 finally got merged!~ :D

[2017-06-29 20:44] grubernaut commented on #18
@mechastorm absolutely did! checkout #26. :smile:

[2017-07-02 04:23] majormoses opened #28 "[DOCUMENTATION] Manage issue tags"
It is quite common in open source projects to have a lot of repos and rely heavily on issue/pr labels. I would like to be able to manage the labels via terraform so that we could make this an easily managed process without having to look at specialized tools for this.

Here is the relevant api documentation I found which validated that is is possible: https://developer.github.com/v3/issues/labels/

[2017-07-02 04:26] majormoses commented on #28
Actually after looking despite it not having any documentation it does look like it exists, is it just documentation we are missing? https://github.com/terraform-providers/terraform-provider-github/blob/master/github/resource_github_issue_label.go

[2017-07-02 04:29] majormoses commented on #28
nevermind I see it is documented. Not sure why I missed it.

[2017-07-02 04:29] #28 closed

[2017-07-04 15:16] sclausson opened #30 "github_user data source causing TF panic"
### Terraform Version
0.9.10

### Affected Resource(s)
- data source github_user

### Terraform Configuration Files
[code]

### Panic Output
https://gist.github.com/sclausson/1dda72f7ab4ce4109f5ccd8a9d241c0d

### Expected Behavior
Should return github_user data source info.

### Actual Behavior
Crash!!!
[code]

### Steps to Reproduce
Please list the steps required to reproduce the issue, for examp

[2017-07-05 09:16] raphink commented on #30
Fixed in https://github.com/terraform-providers/terraform-provider-github/pull/2/files#diff-e0e67aff9f65b130bb301707a366a36fR129

[2017-07-05 11:16] sclausson commented on #30
Thanks @raphink
I will close and wait for 0.10.x to ship.

[2017-07-05 11:16] #30 closed

[2017-07-05 15:36] #12 closed, assigned to nobody

[2017-07-05 15:59] #18 closed

[2017-07-05 16:03] grubernaut commented on #8
Fixed in #26

[2017-07-05 16:03] #8 closed

[2017-07-05 18:56] DWSR opened #31 "Error applying branch protection"
### Terraform Version
0.9.8

### Affected Resource(s)
github_branch_protection

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/DWSR/c9a1a1c6eb4132b9d667764f01944fef#file-terraform-log

### Panic Output
N/A

### Expected Behavior
Terraform should apply a branch protection to the master branch

### Actual Behavior
https://gist.github.com/DWSR/c9a1a1c6eb4132b9d6677

[2017-07-05 20:32] DWSR opened #32 "[Enhancement] github_team should provide Id"
I would like to suggest that the GitHub_team data source should provide the id of the team in addition to the currently provided attributes. This would help remove the need to lookup the ID when using teams with other attributes.

[2017-07-05 20:36] DWSR commented on #7
Along this line: It's currently not possible to provide branch protection for any other branches besides default on a new repository as the branches don't exist without significant workarounds via a `local-exec` provisioner. Perhaps a `GitHub_branch` resource?

[2017-07-05 20:43] grubernaut commented on #31
Hey @DWSR, thanks for the issue!

This was just fixed in #26, and should be available in the next release of the GitHub provider if you're using 0.10 already. If you wish to stick with 0.9.x, you'll need to compile the provider and place the resulting binary in the same location of your Terraform binary, or specify a location in your global `terraformrc` file.

Thanks!

[2017-07-05 20:43] #31 closed

[2017-07-05 20:51] grubernaut commented on #32
Hey @DWSR, it looks like the `github_team` data source does return the `id` of the team, as specified by the data source's `id` attribute.

For example:
[code]
Yields:
[code]

Going to update the documentation to explicitly state this however.

[2017-07-05 21:16] #32 closed

[2017-07-05 21:22] DWSR opened #34 "[Bug] Terraform panics when fetching lists of team IDs using data.github_team"
### Terraform Version
0.9.8

### Affected Resource(s)
-data.github_team

### Terraform Configuration Files
https://gist.github.com/DWSR/fa65d22519dfc001ef842ad0a4b7ac75#file-main-tf
https://gist.github.com/DWSR/fa65d22519dfc001ef842ad0a4b7ac75#file-variables-tf
https://gist.github.com/DWSR/fa65d22519dfc001ef842ad0a4b7ac75#file-variables-tf

### Debug Output
https://gist.github.com/DWSR/fa65d22519d

[2017-07-05 23:08] pantocrator27 commented on #7
@DWSR I am not exactly following the logic of why branch protection would matter.  This request is scaffold a repository based on a given set of files to an already existing repository presumably provisioned via Terraform

[2017-07-06 00:59] DWSR commented on #7
I am more talking about templating repositories as a more general concept rather than the specific use case of copying an existing repository's contents, hence my suggestion of providing (an) additional resources to help provide this functionality. I think that this hits a couple of points:
* An organization probably has a standard procedure for how repositories are bootstrapped, perhaps even a co

[2017-07-06 01:01] DWSR commented on #5
Checking the `X-RateLimit-Remaining` and `X-RateLimit-Reset` headers seems like it should be straightforward enough. This would result in activity spikes as the provider would run full speed until the limit is reached, however.

[2017-07-06 01:11] pantocrator27 commented on #7
@DWSR okay!  I am good!

[2017-07-06 01:56] DWSR commented on #34
This issue seems to be fixed with the latest version of the provider.

[2017-07-06 01:56] #34 closed

[2017-07-06 09:31] stack72 commented on #34
Thanks for closing this out @DWSR :)

[2017-07-06 16:40] joestump opened #38 "Allow setting default_branch on create."
It appears in the code that you can't set `default_branch` on create; a sad limitation of the create API on GitHub it would seem.

Is there any reason why `resourceGithubRepositoryUpdate` couldn't be called from `resourceGithubRepositoryCreate` _only_ in the case that `default_branch` is set to something other than `master`?

[2017-07-07 14:53] grubernaut commented on #38
Hey @joestump, thanks for the issue!

The primary reason that you cannot set the `default_branch` during a repository `Create`, is purely a limitation of `git` and not `GitHub`. The target reference to the new `default_branch` needs to be created prior to `GitHub` recognizing that the branch even exists in order to use that as the new default branch.

In order to do this _during_ a "create" of the

[2017-07-07 14:53] #38 closed

[2017-07-11 22:01] gregswift opened #40 "required_pull_request_reviews in github_branch_protection isn't applying"
Hi there,

### Terraform Version
0.9.11 (Last time I knew this worked was 0.9.5, but we upgraded and it started having this issue)

### Affected Resource(s)
- github_branch_protection

We are seeing a similar output with the vcd_vapp.ip, but I'm not sure that its the *same* issue. We aren't seeing it with any other resources.

### Terraform Configuration Files
[code]

### Debug Output
https://gist

[2017-07-17 20:45] grubernaut commented on #40
Hey @gregswift, thanks for the issue!

I believe #26 should contain the fix that you need. Please ping if it doesn't solve the issue you're seeing though. Thanks!

[2017-07-17 20:45] #40 closed

[2017-07-17 21:52] gregswift commented on #40
@grubernaut so this wont be anywhere until 0.10 ?

[2017-07-17 22:21] grubernaut commented on #40
@gregswift Correct, we can release v0.1.1 of the github provider (probably should do that now), and it'll be present in the latest 0.10 beta of Terraform.

[2017-07-20 23:31] 99 opened #41 "Add "topic" to the repo creation"
Hi there,

this is more like a feature request. I don't see in docs option to add repo topics https://github.com/blog/2309-introducing-topics.
Will appreciate if that could be added.

Natalie

[2017-07-26 21:19] joestump commented on #5
I'd assume behavior would look similar to how TF behaves when it's doing a large AWS modification?

[2017-07-26 21:22] majormoses commented on #5
I thought about this more and the rate limits are still quite different in the sense that they are done hourly on github. So I am not sure how much value there is in this to slow down for an hour...Most rate limits are over a shorter period of time.

[2017-07-26 22:18] joestump opened #42 "API error when using github_team data resource causes hard error."
### Terraform Version

0.9.11

### Affected Resource(s)

The `github_team` data resource.

### Terraform Configuration Files

[code]

### Panic Output

https://gist.github.com/joestump/540e3ce37156715f0e08f38419c3c4c5

### Expected Behavior

It should pull in the team's info.

### Actual Behavior

TF crashes.

### Steps to Reproduce

I haven't been able to 100% nail this down other than it works f

[2017-07-27 00:59] joestump commented on #5
Our rate limit is like 5000 calls. I doubt this will be an issue for anyone anytime soon. Our GitHub TF runs are _very_ low volume.

[2017-07-27 01:15] majormoses commented on #5
I hit this probably a half dozen times trying to get through one of the organizations I am a maintainer for: https://github.com/sensu-plugins which I just finished importing last night but took at least several passes to get all the way through importing some ones that were previously missed.

[2017-07-27 01:23] majormoses commented on #5
That's one of the problems with hourly rate limits, there is no opportunity to back off and slow down rate. It's just wait for an hour and then retry.

[2017-07-27 02:36] joestump commented on #5
@majormoses agreed on the hourly bucket size. That's really only 1.5'ish calls per second when the bucket is that big. Though I do think, on an _ongoing_ basis, 5000 calls an hour is probably fine. Not everyone is quite as popular as Sensu! 😄

[2017-07-27 13:33] DWSR commented on #5
I suspect just having some kind of simple logic to detect that we are out of calls, pause, and display feedback is perfectly sufficient. It would feel bad to have TF fail because of this and then succeed when you re-run it a bit later.

[2017-07-27 14:32] majormoses commented on #5
SGTM, not sure about pausing for ~60 minutes but def would be nice to have some feedback and then return with a try again later. I would feel much better about it if it was say even a half hour (IMHO should be something like 5m) bucket. Waiting for 60 seconds is a lot of wasted resources to keep all that it needs in RAM. What I ended up doing in my case which yes I know is probably much larger tha

[2017-07-27 14:36] DWSR commented on #5
I'm making that suggestion more to go from a state where TF just breaks when running into the limit to a place where it doesn't break. An MVP, if you will.

A secondary evolution could be to precount the number of transactions against the API and subdivide that into buckets

[2017-08-01 11:45] onnimonni opened #43 "[NEW FEATURE] Allow forking other github repositories to init new repositories."
It is really typical for companies to use git repositories as project templates which are then forked into client projects. It would be very cool if terraform could initiate a fork from selected github repository.

### Terraform Version
[code]
### Affected Resource(s)
- github_repository

### Terraform Configuration Files

This is just an example that I would want to see:
[code]

### References
Th

[2017-08-01 13:11] grubernaut commented on #43
API Reference: https://developer.github.com/v3/repos/forks/

[2017-08-01 14:57] onnimonni commented on #43
Hard thing here is that the api https://developer.github.com/v3/repos/forks/#create-a-fork doesn't allow changing the name of the fork immediately.

So this would only work if the user doesn't already have the same named repository.

[2017-08-01 15:13] onnimonni commented on #43
So actually the import api looks better suited for this: https://developer.github.com/v3/migration/source_imports/

It's just much more slower than forking.

But on the brightside then we could support importing from multiple version systems. (currently: GIT, SVN, Hg and TFS)

[2017-08-04 13:58] netflash commented on #9
@damacus do you have any updates from Github regarding this issue ?

[2017-08-04 16:11] damacus commented on #9
@netflash nothing yet. The issue is still open internally.

Maybe someone from Hashicorp can poke them into action?

[2017-08-24 03:43] jugatsu opened #45 "Support personal repositories not only GitHub organization"
### Terraform Version
v0.9.5

### Affected Resource(s)
- github_repository

### Terraform Configuration Files
[code]
### Debug Output
`terraform.tfstate`
[code]

### Expected Behavior
It should create repository under personal account and write state in `terraform.tfstate`

### Actual Behavior
`terraform` asks `Github oraganization` when running with `terraform apply`. Also it returns `422` when r

[2017-08-24 03:45] jugatsu commented on #45
https://github.com/jugatsu/otus-devops-terraform

[2017-08-27 19:25] sclausson opened #46 "github_team --> json: cannot unmarshal object into Go struct field Organization.blog of type string"
### Terraform Version
Terraform v0.10.2

### Affected Resource(s)
Please list the resources as a list, for example:
- github_team

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Expected Behavior
Github team Foo should be created and the plan should continue to be applied.

### Act

[2017-08-30 20:41] NeckBeardPrince opened #47 "Support to create Teams and Child Teams?"
### Terraform Version
v10.2

### Affected Resource(s)
- github_team

https://github.com/blog/2378-nested-teams-add-depth-to-your-team-structure

[2017-09-06 23:57] majormoses commented on #25
+1 for import and edit. Pretty sure you need to confirm some things in order to initially setup an organization.

[2017-09-11 09:59] sclausson commented on #46
Recently upgraded to `terraform 10.0.4` and this fixed the issue.

[2017-09-13 17:10] apparentlymart commented on #46
Hi @sclausson! Sorry for this strange error.

I'm pretty confused by this error since it seems to suggest that the GitHub API removed an organization object whose `blog` attribute was a JSON object, rather than a string as indicated [in the API documentation](https://developer.github.com/v3/orgs/#get-an-organization).

It's also strange that upgrading Terraform core would've fixed it, since the co

[2017-09-15 17:49] Techcadia commented on #41
https://developer.github.com/v3/repos/#list-all-topics-for-a-repository

Just adding that this is still in preview. Not sure what the thought process is on implementing preview features into a production level provider.

[2017-09-18 05:08] TraGicCode commented on #45
Any updates on this?

[2017-09-19 16:45] docwhat commented on #9
@damacus: What exactly are you asking GitHub to fix in their API?

[2017-09-19 17:59] davidalger commented on #9
@docwhat Have you actually read the original issue description and the followup message by @damacus?

Assigning a membership with `member ` rights should either fail entirely or the API should report `member ` back to us after that assignment is made, not fail when the `maintainer` status is given. And the irony? After adding the membership as `member` results in the API reporting `maintainer` bac

[2017-09-20 07:35] sclausson commented on #46
Hi @apparentlymart I agree that the error is a strange one. As you say, I'm not sure why we would even care about the `blog` attribute when creating a `team`, nor why the `blog` would be anything other than a string. I could try to reproduce by rolling back to `10.0.2` if you think that would be valuable. Otherwise I agree we can chalk it up to a transient error, close, and hope not to see it agai

[2017-09-26 18:22] Nowaker opened #49 "Import of github_membership won't work - Terraform crashes"
Terraform version: Terraform v0.10.6
Plugin version: 0.1.1

`terraform import github_membership.org_membership_Nowaker Nowaker`

Most relevant error:
[code]

Full output:
[code]

[2017-10-01 09:44] majormoses commented on #5
I now have too many github objects managed by terraform that I can no longer get through a terraform plan. :cry: / :joy:

Any chance of getting someone to implement rate limiting per https://github.com/google/go-github#rate-limiting. If no one thinks they can get to it sometime soon I can try learning enough go to hack something together (probably will need some help). If I can't get it working (o

[2017-10-01 12:03] DWSR commented on #5
Have you tried disabling TF's state refresh on plan run via `-refresh=false`?

Also, have you tried limiting your plan runs to only certain repos via `-target=`?

[2017-10-01 16:04] mbbroberg commented on #5
👋 been working with @majormoses on this one.

I haven't, I'll give it a go.

Could use that sometimes, but not often. The overall goal is to manage the 200+ repos so sometimes we have to hit them all.

Thanks all 🙏

[2017-10-01 16:20] majormoses commented on #5
I mean those are temporary solutions, like matt said running it on a subset of repos with `-target` kinda defeats the purpose. Using `-refresh=false` permanently sounds dangerous to use in general (would be fine for an initial import) and defeats the benefit of terraform in the first place which is configuration drift.

[2017-10-01 16:28] DWSR commented on #5
I understand that those are temporary solutions. I'm simply suggesting them because they are recommended in the official documentation as a way to work around rate limits. This can be done by breaking each step into its own action. For example, calling `terraform refresh`, then `terraform plan -refresh=false -out=terraform.plan` then `terraform apply terraform.plan`.

Additionally, have you tried

[2017-10-01 16:44] majormoses commented on #5
True, I can try to see if breaking up the refresh into its own state but that essentially means that it will likely take 3 hours to run through each iteration.

Hmm I was not aware of parallelism..that might be interesting. looking at the docs It does not state what the default is, I will look through the code to see what the default is. I think that might be our most viable path forward at the mo

[2017-10-01 16:47] DWSR commented on #5
parallelism affects the number of threads that Terraform will use to make changes. the default value is 10. For GitHub, with such a large window, it might not help, but it's another potential option for you to try.

I like the idea of allowing the GitHub provider to be an application rather than acting as a user because it means that you don't have to worry about managing a seperate user only for

[2017-10-01 17:11] majormoses commented on #5
Cool, thanks for the info on the default. I will try playing with that and see if I can get a short term path forward to allow us time to implement one of the real solutions.

[2017-10-01 17:43] majormoses commented on #5
Unfortunately I just tried and even using `-parallelism=1` still can not get through a refresh. Looks like I need to do some state surgery just to get it back to a point where things can get through a refresh.

[2017-10-01 21:26] majormoses commented on #5
Even after trying to prune some stuff out I hit 5000 requests in about a minute and 40 seconds...

[2017-10-01 21:30] DWSR commented on #5
@majormoses Can you get through a state refresh without hitting the API rate limit?

[2017-10-01 21:33] majormoses commented on #5
nope I almost did and with a bit more pruned I think I can as there were only 5 that failed, command:
[code]

I will let you know in an hour or so if I can make it through it.

[2017-10-01 21:41] majormoses commented on #5
I also need to add another half dozen repos and I only see this problem getting worst not better...

[2017-10-01 21:45] DWSR commented on #5
@majormoses I know that this is probably not ideal, but have you tried using Terragrunt and its pattern? If all of your repos stem from the same few configurations, you could easily define those configurations as modules, then iterate through them using Terragrunt plus a shell script to space out Terragrunt executions. Obviously these are workarounds to the actual problem.

[2017-10-01 21:52] majormoses commented on #5
We are using modules and that is possible something I might have to create
a utility and have 200+ states. But this is ugly... If I'll gonna do that I
am considering just writing a custom utility with octocat if there is no
reason path forward with terraform.

Please excuse brevity on mobile,
Ben Abrams

On Oct 1, 2017 2:45 PM, "Brandon Andrews" <notifications@github.com> wrote:

[2017-10-01 21:56] DWSR commented on #5
Genuinely curious: why does the number of states matter? To me, it's more ideal having individual states for each repo because I can change out configurations on a repository individually and update it without having to disturb my entire GH account. Everything's handled by the backend and the configuration is templated out anyway, so it's not like there's a ton of management overhead to worry abou

[2017-10-01 23:17] majormoses commented on #5
laziness, defining the defaults for a bunch of things once, etc. I guess it might just make sense to have each repo have its own terraform config. My biggest issue is setting the same default 200 times. Also it creates the chicken and the egg scenario and while often the repos are imported and managed in terraform after creation where possible it's much easier to create a resource from terraform t

[2017-10-01 23:20] majormoses commented on #5
Yay I got it to refresh and with a whole 98 requests to spare :cry:
[code]

[2017-10-02 00:16] DWSR commented on #5
@majormoses If it's a default, then setting the default value for the variable in the module should suffice for propagating the changes to all repositories using said default. No need to declare it in ~200 places. If someone deletes a repository, simply refreshing the state and recreating it as a single repo is much easier and lighter than refreshing your entire account and picking up the changes.

[2017-10-02 00:39] majormoses commented on #5
Sorry not default I misspoke. I mean having to define the same `vaiables.tf`. It's just a lot of extra duplication of stuff.

Regarding out of band yes I do that at my job but I have a slew of Jenkins machines that run that on our behalf and have created very complex flows. This is an open source project and the closest we have is travis. I am not sure how much effort it would be to make something

[2017-10-02 01:26] DWSR commented on #5
Defining the same variables over and over again is something Terragrunt is very strong at. [You can even template out your CLI flags so that you don't need to remember them.](https://github.com/gruntwork-io/terragrunt#keep-your-cli-flags-dry).

Importing a repository with Terragrunt vs. Terraform is almost identical. Transferring in a repository as an admin should be a very easy process. I suspect

[2017-10-04 22:27] thomasbrezinski opened #50 "Add support for "require review from code owners""
GitHub added the ability to require reviews from code owners in July. It doesn't look like support for this has made it into terraform-provider-github quite yet.

It seems like a simple update to the PullRequestReviewsEnforcement and PullRequestReviewsEnforcementRequest to handle this additional field.

### Terraform Version
Terraform v0.10.7

### Affected Resource(s)
github_branch_protection

###

[2017-10-04 23:05] denniswebb commented on #50
I'm working on a PR to support this right now.

[2017-10-10 11:52] brikis98 opened #53 "Plan output keeps changing randomly"
### Terraform Version

Terraform v0.10.7

### Affected Resource(s)

- github_team_repository

### Terraform Configuration Files

The basic structure is a module that defines a team and the repos that team can access:

[code]

We use this module to manage ~40 teams, each with access to 10 - 50 repos.

### Expected Behavior

Since all of the code has already been applied, I expect to see "no changes

[2017-10-13 19:31] damacus commented on #9
So I *believe* this should be fixed on the github side.

If anyone else notices this issue still happening I'd love to hear from you.

[2017-10-14 14:49] davidalger commented on #9
@damacus I just tested this and believe the same. It's fixed. Thanks for chasing it down!

[2017-10-14 15:49] damacus commented on #9
@grubernaut can you close this one now please?

Thanks!

[2017-10-14 15:52] damacus commented on #53
If you're getting throttled. You should see a 500 error from the github api.

You can mitigate against this behaviour by turning down the parallelism e.g. `-parallelism=5`.

I suspect there isn't much we can do about the API calls, as we're tied to how it's implemented in https://github.com/google/go-github/

It does sound like something hasn't been applied, or something is reverting an earlier ap

[2017-10-16 10:36] radeksimko commented on #9
Closing, thanks for the followup.

[2017-10-16 10:36] #9 closed

[2017-10-20 15:43] majormoses commented on #5
I took a closer look at terragrunt and while it does solve redefining variables it does not solve the base problem which is that we want to ensure that all config drift is caught in a single command without hitting api limits even if it sits there for a really long time.

[2017-10-20 17:37] taiidani opened #55 "resource/github_repository: Renaming forces new resource"
### Terraform Version

v0.10.2

### Affected Resource(s)

github_repository

### Terraform Configuration Files
[code]

### Expected Behavior

The repository should have been renamed without triggering the "forces new resource" behavior.

### Actual Behavior

The `plan` shows the repository as requiring recreation.

### Output

[code]

[2017-10-20 21:36] brikis98 commented on #53
Terraform doesn't show any errors. Where would this show up?

Terraform should show an error in these cases instead of swallowing the error and showing random diffs!

No, everything has been applied, there are no diffs at all. Besides, running `plan` shows *different* diffs every time.

[2017-10-23 22:59] nserebry opened #56 "Add ""topics" for the repository creation"
Hi there,

Affected Resource(s)

github_repository

### Expected Behavior
Would like to request ( feature support) to add topics during repo creation in GitHub

### References
- https://developer.github.com/v3/repos/#list-all-topics-for-a-repository

Thank you

[2017-10-23 23:05] nserebry commented on #56
accidentally repeated myself

[2017-10-23 23:06] #56 closed

[2017-10-26 14:56] docwhat opened #57 "resource/github_team_membership: memberships are sometimes not written."
### Terraform Version

- Terraform v0.10.7
- Github 0.1.1

### Affected Resource(s)

- github_team_membership

### Terraform Configuration Files
[code]

### Debug Output

I missed the chance to get debugging output. Sorry.

### Expected Behavior

When member "a" was added, it should have pushed everyone down one slot.  When done, the membership list should have all 10 members.

### Actual Behavior

[2017-10-31 19:32] docwhat opened #58 "github_repository: unsafe when repository is renamed"
### Terraform Version

```Terraform v0.10.8```

### Affected Resource(s)

- `github_repository`

### Terraform Configuration Files
[code]

## Explanation of bug

If you run `terraform apply` (which creates a repository `tf-repo-bug1`) and then rename the repository to `tf-repo-bug2` then terraform gets very confused.

The `tfstate` changes the stored `full_name` and the various clone URLs, but doe

[2017-11-02 00:37] rene00 opened #59 "github_repository_collaborator: fails when adding a user as a collaborator"
### Terraform Version
[code]

### Affected Resource(s)
 - github_repository_collaborator

Target provider is running GitHub Enterprise 2.11.2.

### Terraform Configuration Files
[code]

### Expected Behavior
The user `johnsmith` should of been added as a collaborator to the `myrepo` repository.

### Actual Behavior
terraform failed to refresh the state:
[code]
I also observed an import failing wit

[2017-11-09 15:54] mrparkers commented on #25
@grubernaut The GitHub Enterprise API allows for the creation of organizations.  Would it make sense to add support for a resource like `github_enterprise_organization`?  If there are no objections to this, I'll happily make a PR to add support for this.  The team I'm working with wants to use terraform to manage all of our GHE orgs, and this would be extremely useful.

[2017-11-10 01:16] mechastorm opened #61 "[FEATURE REQUEST] Data resource for query all repositories in a Github ORG"
It would be useful if there was a terraform data resource to query the github org - specifically get a list of all repositories from the Github Org (or maybe even a user).

example

[code]

Using the output from that data resource, we can then iterate over them for actions like
- attaching teams to a repository
- setting a standardized `github_branch_protection` setting on all repositories.

[2017-11-23 05:22] mbbroberg opened #62 "github_organization_webhook: 404s on API call"
### Terraform Version
[code]

### Affected Resource(s)
- github_organization_webhook

### Terraform Configuration Files
[code]

### Debug Output
Full run of `terraform apply`: https://gist.github.com/mbbroberg/a358253e6a1042c6abbe0901a7f80976

### Expected Behavior
Creation of a webhook

### Actual Behavior
404 error: `* github_organization_webhook.release: POST https://api.github.com/orgs/sensu-p

[2017-11-29 00:22] majormoses commented on #62
Looking at the api it looks like it should be the right path: https://developer.github.com/v3/orgs/hooks do think though after reading this the token that is being passed in might not have the `admin:org_hook` scope and instead of returning a 401 they return a 404.

[2017-12-13 17:46] netflash commented on #62
Just faced the same issue. My token has `admin:org_hook` privilege.

[2018-01-24 19:27] caarlos0 opened #66 "resource/github_membership: do not remove self as org admin"
### Terraform Version

[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- github_membership

### Terraform Configuration Files

I migrated from

[code]

to

[code]

### Debug Output

do not have

### Panic Output

### Expected Behavior

Should not have removed myself.

### Actual Behavior

Removed myself and tried to add again.

### Steps to Reproduce
Please list

[2018-01-29 03:36] dantswain opened #69 "github_repository_deploy_key forces new resource"
I'm getting a "forces new resource" every time I run `terraform plan` or `terraform apply` regardless of whether the key already exists.

### Terraform Version

[code]

### Affected Resource(s)
- github_repository_deploy_key

### Terraform Configuration Files
[code]

### Expected Behavior
Once the deploy key exists, don't recreate it.

### Actual Behavior
Terraform recreates the resource:

[code]

[2018-02-08 04:32] razorsedge commented on #6
I am seeing this too.

[2018-02-12 16:29] majuscule opened #73 "support archived repositories"
### Terraform Version
`Terraform v0.11.0`

### Affected Resource(s)
Please list the resources as a list, for example:
- github_repository

### Terraform Configuration Files

i.e.:
[code]

![screen shot 2018-02-12 at 11 27 52 am](https://user-images.githubusercontent.com/187737/36107374-c8ae483c-0fe7-11e8-923b-2bf501f82f07.png)

[2018-02-13 10:48] dennisoelkers opened #74 "Support multiple organizations"
### Terraform Version
Terraform v0.11.3
+ provider.github v0.1.1

### Affected Resource(s)
- github_*

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Expected Behavior
It should be possible to manage the resources of multiple github organizations by declaring the organization a resource belongs to.

### Actual Behavior
The

[2018-02-13 23:02] eugenetaranov commented on #55
could anyone please review the linked PR? Thanks

[2018-02-15 06:31] #50 closed

[2018-02-28 09:20] hashibot[bot] opened #75 "creating github repository"
_This issue was originally opened by @artsiom-tsaryonau as hashicorp/terraform#17446. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi!

I am trying to create a repository on `github` using terraform. My `.tf` file looks like this

    variable "github_token" {}

[2018-02-28 19:17] tombuildsstuff commented on #75
hey @artsiom-tsaryonau

Thanks for opening this issue

Judging by the error being returned I believe this would be to do with the Github Access Token not having permissions to create repositories in that user account. Would it be possible to confirm the permissions assigned to this Access Token?

Thanks!

[2018-03-01 06:58] artsiom-tsaryonau commented on #75
Hi, @tombuildsstuff

Indeed. It seems I haven't assigned any permissions to the token at all. As soon as I did that it applied fine.

Thanks!

[2018-03-01 14:26] #75 closed

[2018-03-05 17:46] petomalina opened #76 "Support label descriptions for github_issue_label resource"
Github allows users to create labels with descriptions. This functionality is missing from the issue_label resource.

https://developer.github.com/v3/issues/labels/#add-labels-to-an-issue

[2018-03-05 17:51] gelidus commented on #76
Update: it looks like this will be blocked until the public API is released:
https://github.com/google/go-github/issues/856
https://blog.github.com/2018-02-22-label-improvements-emoji-descriptions-and-more/

[2018-03-06 17:54] paultyng commented on #76
Yep, I subscribed to that upstream issue (google/go-github#856),  will keep an eye on it, thanks for bringing this up.

[2018-03-07 18:55] lapots opened #77 "github_repository does not have attribute http_clone_url error"
I want to create repository and initialize `git` locally after successful creation. Accoding to the doc [providers/github](https://www.terraform.io/docs/providers/github/r/repository.html#http_clone_url) there is the attribute `http_clone_url`.  So my `.tf` file looks like this.

[code]
But when I run `apply` I get the error
[code]

So it seems this attribute does not exist? Or I am doing somethin

[2018-03-08 14:28] paultyng commented on #77
I can't see anything wrong offhand, my only thought is its possibly an older version? Can you put the debug output in the issue (see the [issue template](https://github.com/terraform-providers/terraform-provider-github/blob/master/.github/ISSUE_TEMPLATE.md#debug-output))?

[2018-03-08 15:31] timoguin opened #78 "Add data source for GitHub IP ranges"
I have a need to restrict a public service to GitHub's various IP ranges, but since GitHub changes these occasionally, I'd love to just use a data source to pull in those values.

I figured a `github_ip_ranges` data source would be the best approach.

This would use the GitHub's [Meta endpoint](https://developer.github.com/v3/meta/). Looking through the go-github source, this API has been mostly i

[2018-03-13 14:19] paultyng commented on #77
Its actually marked as required [in the code](https://github.com/terraform-providers/terraform-provider-github/blob/master/github/provider.go#L22) so looks like just a typo on the website.

[2018-03-13 14:25] paultyng commented on #74
As a workaround for this you can use multiple provider instances: https://www.terraform.io/docs/configuration/providers.html#multiple-provider-instances

[2018-03-13 14:28] paultyng commented on #45
Related to #77

[2018-03-13 15:09] lapots commented on #77
As I don't have an organization I set it as empty and it works.
It even creates the repository with the initial commit just fine.

But it fails on attributes.

[2018-03-13 16:00] paultyng commented on #77
Can you try just `lapots` as the org?

[2018-03-13 16:20] lapots commented on #77
I tried `lapots`, `lapots-github`, `github-lapots` and others but it returns `404` on

    * github_repository.sandbox: POST https://api.github.com/orgs/lapots/repos: 404 Not Found []

[2018-03-13 16:42] paultyng commented on #77
:( ok I will dig in a little. Per those other issues it does seem like we don't support personal repos, I have only used this against an org.

[2018-03-13 16:57] lapots commented on #77
I see :sob: Then I'll just will create url in `.tf` manually

[2018-03-15 09:58] lapots opened #80 "cannot build the project from the fork"
I was trying to build the forked [project](https://github.com/lapots/terraform-provider-github)
I did

    go get github.com/terraform-providers/terraform-provider-github
    go get github.com/hashicorp/terraform

I did the fork and cloned it to machine.
But when I try to run

    go build -o terraform-provider-github

I get this error

[code]

What is the problem?

P.S. I presume it is kinda comm

[2018-03-15 13:32] lapots commented on #77
I dug into the code

For `Create` function in go-github library, second parameter was `org` and in case of empty it used `user/repos` URL instead of `orgs/%v/repos`.
https://github.com/google/go-github/blob/master/github/repos.go#L267
It created repositories just fine due to that.

For `Get` function it requires `owner` as a second parameter.
https://github.com/google/go-github/blob/master/github/

[2018-03-15 21:00] #80 closed

[2018-03-16 19:09] thomasbrezinski commented on #41
@radeksimko if you could confirm whether supporting a preview feature would be approved, I would be happy to take a look at implementing this :)

It's been in preview since January 2017

[2018-03-18 23:48] alexashley commented on #69
@dantswain I've run into this as well and I don't think it has anything to do with the resource; but rather the fact that GitHub's API mutates the deploy key, dropping anything after the base64'd body. In my case, it was as simple as removing email from the end of the deploy key and Terraform got a clean diff.

It's also reproducible with the API directly:
[code]

[code]

As a workaround, maybe th

[2018-03-23 15:41] enobrev opened #81 "github_repository_webhook secret always generates an "update in-place""
### Terraform Version
Terraform v0.11.5
+ provider.github v1.0.0

### Affected Resource(s)
Please list the resources as a list, for example:
- github_repository_webhook

### Terraform Configuration Files
[code]

### Debug Output
This gist shows three commands.  `plan`, `apply`, and `plan` again.  The first two create a new webhook with a secret.  The last `plan` shows that it wants to overwrite th

[2018-03-28 20:19] docwhat opened #83 "Switch to API v4 (GraphQL)"
The [GitHub v4 (GraphQL) api](https://developer.github.com/v4/) is now official.

Since we're doing large queries across lots of objects in GitHub, using GraphQL will be significantly faster and use up less of the API Rate Limit.

Both reading and writing (mutating) are supported.

[2018-03-29 01:53] #78 closed

[2018-04-04 10:26] SamHummerstoneCC opened #84 "Github Branch Protection seems to cycle through two states at every push"
### Terraform Version
[code]

### Affected Resource(s)
- github_branch_protection

### Terraform Configuration Files
[code]

`repo_name`, `team_name` and `user` have been redacted for privacy reasons, but are valid and existing resources inside of our terraform stack.

### Debug Output
Please provider a link to a GitHub Gist containing the complete debug output: https://www.terraform.io/docs/inter

[2018-04-09 14:56] thomasbrezinski opened #85 "Adding org owner as a team member causes new resource required on every apply"
### Terraform Version
[code]

### Affected Resource(s)
github_team_membership

### Terraform Configuration Files
[code]

### Debug Output
Please provider a link to a GitHub Gist containing the complete debug output: https://www.terraform.io/docs/internals/debugging.html. Please do NOT paste the debug output in the issue; just paste a link to the Gist.

### Expected Behavior
Adding an org owner to

[2018-04-21 21:24] hartzell opened #86 "Mistakenly using http: URL when https: is supported leads to false claim of success"
If I mistakenly use an `HTTP` URL to refer to a GitHub enterprise that's using an `HTTPS` url then terraform claims to be able to successfully change a resource but fails to actually change it.

It also fails to be able to add an e.g. new repository, with a non-informative error message.

### Terraform Version

[code]

### GitHub Enterprise Version

2.13.1, with a Let's Encrypt supplied certificat

[2018-04-28 02:20] majormoses opened #87 "[Feature Request] support requiring "signed commits" on `github_branch_protection`"
### Affected Resource(s)
Please list the resources as a list, for example:
- github_branch_protection

### Important Factoids
Some organizations require commits to be signed to verify identity of submitter for legal reasons.

It is available in the rest api: https://developer.github.com/v3/repos/branches/#add-required-signatures-of-protected-branch but I do not see it yet in the upstream go librar

[2018-04-30 04:54] tdmalone commented on #76
Just a note that it looks like this has now been implemented in go-github :)

[2018-04-30 18:00] majormoses commented on #85
Interesting I have not seen this happen and I am also an `(Owner|Maintainer)` for several orgs but do not seen this happen. Can you replicate using a fresh state? I have not upgraded to the latest but mine is not super old:
[code]
Can you try replicating with the same version?

[2018-05-01 03:45] majormoses opened #89 "[Feature Request] support `required_approving_review_count`"
### Affected Resource(s)
Please list the resources as a list, for example:
- github_branch_protection

### Important Factoids
Some teams are large enough that they want multiple reviewers approving it before allowing it to merge.

It is available via the [rest api](https://developer.github.com/v3/repos/branches/#update-branch-protection) but I do not see it yet in the upstream go library](https://

[2018-05-01 04:40] majormoses commented on #86
I saw something similar when making changes to branch protection it kept saying it applied it but when I went to the UI it remained unchanged. In my case I was accidentally sending an array of `team_id`'s rather than `team_names`. Aside from that I have not been able to replicate as I do not have github enterprise and githubs api only responds over 443:
[code]

[2018-05-01 05:01] majormoses commented on #84
I saw something similar when I had mistakenly given it a `team_id` rather than a `team_name` I would guess that it does not do a good job validating the request on submission and github returns that is submitted the job but then it fails for reasons that may not be exposed to the terraform (http) client. It also could very easily be bad validation/verification on terraform's end as well I have not

[2018-05-01 20:12] thomasbrezinski commented on #85
It's pretty easy to reproduce with the included stack file.

[code]

to reiterate, this mimics the behavior of the GitHub API which allows you to add an org owner as a team member even though an org owner always have the maintainer role on a team.

[2018-05-08 15:32] paultyng commented on #76
Yep, we'll need to update the vendored version, but this is ready to be added!

[2018-05-14 12:30] endorama commented on #41
Hello, I would really need this feature, and I would love to see it in terraform.

Any update on this? I'm willing to help, if needed. Thanks

[2018-05-15 17:07] hartzell opened #95 "No error reported when using an invalid user name in branch protection restriction"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version

[code]

### Affected Resource(s)

- github_branch_protection

### Terraform Configuration Files
[code]

### Expected Behavior

We have a "servic

[2018-05-21 22:32] chandy commented on #41
@radeksimko would also love to get confirmation on @thomasbrezinski question about supporting a preview feature

[2018-05-21 22:56] paultyng commented on #41
If its in the SDK, I'd be happy to merge a PR for topic support.

Regarding preview features, we generally prefer not to support them until we can be sure an API/SDK is locked down, but seeing as topics seem pretty stable now and are also released in Github Enterprise I think it would be safe to support this feature.

[2018-05-31 15:41] tylersmith34 commented on #41
I'm interested in this as well and could help with beta/preview testing.

[2018-06-01 00:02] majormoses opened #99 "error when creating repositories in orgs where projects are disabled"
I pulled in 1.1.0 and am now seeing issues where on create terraform fails and then a re-run works as intended. I am not yet sure if this is an upstream api issue yet but wanted to report it here first.

### Terraform Version
[code]
### Affected Resource(s)
Please list the resources as a list:
- github_repository

### Config
[code]

### Plan Output
[code]

### Apply Output
[code]
### Expected Beha

[2018-06-01 00:18] majormoses commented on #99
From what I read [here](https://developer.github.com/v3/repos/#create)
![image](https://user-images.githubusercontent.com/3145127/40814649-4ab69be6-64f6-11e8-81a4-222b28e50565.png)
This would seem to indicate that:
a. we should not set any defaults since the api sets a sensible one for you
b. that either its not sending the correct value for the option or something else is very wrong

[2018-06-01 00:37] majormoses commented on #99
So looking at the [code](https://github.com/terraform-providers/terraform-provider-github/blob/v1.1.0/github/resource_github_repository.go#L45-L48) and the [upstream library](https://github.com/google/go-github/blob/v15.0.0/github/repos.go#L68) we do not set any defaults and the github api docs something is wrong but I can't seem to figure out where its going wrong yet.

[2018-06-01 00:56] #41 closed

[2018-06-01 01:43] majormoses commented on #99
I am beginning to suspect the issue may be on github's side. Running this through charles proxy this is what I see:
[code]

[2018-06-01 15:10] paultyng commented on #99
Docs updated per #98 (thanks for the PR!), going to close this as I think that's all we can do at this point.

[2018-06-01 15:11] #99 closed

[2018-06-01 15:34] majormoses commented on #99
@paultyng even though there is nothing we can do at the moment I think it should remain open for tracking purposes as other users may find themselves affected and come searching for answers and can avoid wasting their time as I already put in the effort to validate that its an API issue.

[2018-06-07 16:57] majormoses commented on #47
This was added in https://github.com/terraform-providers/terraform-provider-github/commit/a60a056c07d8bd15dfcb6d525ffd18a2ffbbd07f and in `v1.1.0` of the plugin

[2018-06-07 16:59] majormoses commented on #85
I was able to replicate this

[2018-06-08 02:11] paultyng commented on #99
I can appreciate the desire to make the discoverability of the problem good for newcomers to the provider, but we do not leave open issues for every caveat or gotcha we call out in docs.

Now that it is documented on the provider website I don't think keeping this open is useful unless there is an upstream issue to track somewhere or some other actionable tasks left.

I did verify it will still co

[2018-06-10 21:09] prdonahue commented on #45
I have a feeling this isn't going to happen for commercial reasons, but I'd love to be surprised.

I'm working on a blog post showing how to use Terraform along with GitHub and Hugo to create a static blog, but as soon as I tried `terraform apply` in my personal account ($7/mo) everything fails.

Can someone from GitHub either close this as "won't do" or let us know if this will be supported? If s

[2018-06-19 21:58] majormoses commented on #99
I think you are misunderstanding this, this is broken on GitHub's side, I have finally got confirmation today from GitHub that they agree its broken on their end and are not sure why. We do not call that out in our docs, we only documented that its an option not that it essentially does not matter what you pass it will always fail if your org disables projects. I respect your decision to keep it c

[2018-06-21 16:22] james-algolift opened #103 "[Feature Request] Data source for GET /repos/:owner/:repo/collaborators"
Hi,

I'm hoping to gain some traction on a feature to provide a data source for the list of collaborators: https://developer.github.com/v3/repos/collaborators/#list-collaborators

One highly useful use case of this is to be stateful about all repository collaborator public keys. This endpoint includes org members, members of attached teams, outside collaborators, and their permissions. There are w

[2018-06-21 20:52] majormoses commented on #95
I think I am suffering from the same underlying bug but there are some slight differences. In our case we do have team names that have `_` in them and it works just not on repository creation (we have an explicit depends on the repo being created and `auto_init` as true).

Here is the original plan:
[code]

Then the apply shows everything succeeded:
[code]
If we look in the console or run a plan a

[2018-06-21 21:12] majormoses commented on #95
While it seems like in the case of users we could try to convert `_` to `-` I don't think that is the right call because according to github you can't make a user with `-` in their username:
![image](https://user-images.githubusercontent.com/3145127/41745716-c040c082-755c-11e8-9bdd-0c583cf58552.png)

I suspect the reasoning is that `_` is not a valid DNS SRV record and would prevent them from usin

[2018-06-21 22:13] majormoses commented on #43
It is supported in the upstream golang library: https://github.com/google/go-github/blob/v15.0.0/github/repos_forks.go#L57-L85

[2018-06-22 22:13] majormoses commented on #53
Just to confirm if you are being rate limited they use a 403 like this:
[code]

[2018-07-03 14:59] mplanchard commented on #55
This would definitely be preferable to having to remove the state, rename the repo in GH, and then re-import the state, which is what we're doing now.

[2018-07-13 11:48] SamHummerstoneCC commented on #84
After seeing this repeatedly, the issue steam from the fact that the team name is passed for branch protection, but the team slug-name is what is being returned by git, so it sees it as inconsistent and tries to update it. I am guessing that this is a bug?

[2018-07-20 16:19] celiawaggoner opened #106 "[Feature Request] support pull request templates"
Hi there,

My team adds pull request templates to all of our repos to remind devs to add tests, update docs, use PR title conventions, etc. so I think it'd be helpful to be able to add a pull request template to repos via terraform.

<img width="681" alt="screen shot 2018-07-20 at 9 17 54 am" src="https://user-images.githubusercontent.com/13388602/43013467-d8535128-8bfd-11e8-8ed9-c807413725d9.png"

[2018-07-24 21:33] abridgett commented on #5
FYI there was https://github.com/hashicorp/terraform/pull/11670 which if it's suitable might be a quick win here.  It seems to have been lost in the split of the providers.  It's rather frustrating having to wait for the next set of tokens to become available that's for sure :)

[2018-07-24 22:57] majormoses commented on #5
Looking at the upstream library docs https://github.com/google/go-github/blob/v15.0.0/github/doc.go#L124-L149 it looks like it supports conditional requests we just need to use them.

[2018-07-27 20:05] hartzell commented on #95
In our case, either GitHub or Okta is automagically replacing the underscore with the hypen, so the account named `srv_blort` is known to GitHub as `srv-blort`.  We've decided to live with this slight inconsistency.

Yes, I had intended the original point of this issue was the missed error condition.

[2018-07-30 15:00] hwhopemaIBM commented on #5
Working with an internal Enterprise version of Github, we regularly hit the rate limit. When the limit is hit while running `tf plan` it assumes that `plan` succeeded, and then lists everything it failed to update on as new to be added. It would be nice if `TF` provider checked for the rate limit value and at least aborted or failed if it hit the limit.

[2018-07-30 22:25] chrisferry commented on #19
Looks like this commit adds that capability.
https://github.com/terraform-providers/terraform-provider-github/commit/4ace080d66ba0f0b073dd5002f605acb134443d2
Maybe we can close this?

[2018-07-31 19:57] chrisferry commented on #19
@Nklya It's not clear from his link above as he references the repos "create" not the projects "create".  If @pantocrator27 wants projects created via this provider he should have referenced: https://developer.github.com/v3/projects/#create-a-repository-project
@pantocrator27 Can you clarify what you want exactly?  Thanks

[2018-07-31 19:59] pantocrator27 commented on #19
@chrisferry my bad ... https://developer.github.com/v3/projects/#create-a-repository-project is the correct URL.

[2018-08-02 10:27] radeksimko commented on #106
Hi @celiawaggoner
thanks for opening this issue.

Codifying and managing PR/issue templates as code is something we plan to do as well at HashiCorp internally for all of our Terraform providers.

That said I'm not entirely sure whether a resource in the Github provider is the right way to implement it. Managing these templates in practice requires more imperative, rather than declarative approach.

[2018-08-03 05:38] justinbarrick commented on #69
Note, I resolve this by using `chomp`, since the `tls_private_key` module appends a new line:

[code]

[2018-08-03 12:20] radeksimko commented on #49
Hi @Nowaker
thanks for the report and sorry for the delay. I have a fix of the crash pending review in #108

Please keep in mind that we expect colon-separated format of the ID when importing resources, [as documented](https://www.terraform.io/docs/providers/github/r/membership.html#import). Terraform will return appropriate error message reminding user the expected format after we ship the bugfix

[2018-08-03 12:27] radeksimko commented on #6
Hi folks,
I'm afraid this is an effect of eventually consistent nature of the API, or more likely storage GitHub uses internally to back the API. I can certainly see regular intermittent test failures resulting from this.

When I inspected the debug log and followed sequence of API calls, I can tell that these are issued as expected (e.g. `POST` -> `GET`), but the API sometimes decides to respond

[2018-08-03 12:35] radeksimko commented on #42
Hi @joestump
thanks for the report and sorry for the delay in processing it.

This appears to be a crash caused by the fact that we tried to dereference description which was `nil` (i.e. we expected a team to always have a non-empty description).

https://github.com/hashicorp/terraform/blob/v0.9.11/builtin/providers/github/data_source_github_team.go#L55

This was addressed in https://github.com/te

[2018-08-03 12:35] #42 closed

[2018-08-03 12:40] radeksimko commented on #46
Hi folks,
I'm going to have close this issue as unreproducible.

I believe there may be some improvements / bug fixing to do in the upstream SDK, but we can't tell exactly how to fix it without having more data.

The provider is capable of logging all HTTP requests and responses [when `DEBUG` mode](https://www.terraform.io/docs/internals/debugging.html) is enabled. If you happen to hit the same/si

[2018-08-03 12:40] #46 closed

[2018-08-03 12:43] #11 closed

[2018-08-03 12:43] #49 closed

[2018-08-06 07:30] radeksimko commented on #73
Hi @majuscule
support for archiving was added in https://github.com/terraform-providers/terraform-provider-github/pull/64 which was released as part of `1.1.0` on the 11th May.

For that reason I'm going to close this issue.

Thanks.

[2018-08-06 07:30] #73 closed

[2018-08-06 07:45] radeksimko commented on #25
@mrparkers Sorry for the delay here. I assume this would be mapped to https://developer.github.com/enterprise/2.14/v3/enterprise-admin/orgs/ ? If so, I agree that a new resource covering this would be helpful, but I wouldn't try to build any abstractions above the API, i.e. cover both creation and management of the data.

If we are ever going to build a resource for managing details of an organiza

[2018-08-06 15:16] radeksimko commented on #61
Hi @mechastorm
thanks for opening this issue.

I'm thinking we could implement this on top of the [Search API](https://developer.github.com/v3/search/#search-repositories) which would give users the flexibility to query any repositories, whether scoped by an org, name, or anything else using [the search syntax](https://help.github.com/articles/understanding-the-search-syntax/).

e.g.

[code]
[code

[2018-08-07 15:28] majormoses commented on #5
@hwhopemaIBM since you are on github enterprise you could try discussing with your github admin to change your rate limits: https://help.github.com/enterprise/2.13/admin/guides/installation/configuring-rate-limits that being said the issue is still a big one for both enterprise and hosted solutions and I think there are several things we can do (not all scoped to this issue):
- build in rate limit

[2018-08-08 16:38] radeksimko commented on #7
Hi folks,
sorry for the radio silence here.

Some food for thought below.

The [current GitHub API](https://developer.github.com/v3/repos/#create) currently only allows us to initialize empty README (`auto_init`), gitignore (`gitignore_template`) and license (`license_template`), all of which are [already supported](https://www.terraform.io/docs/providers/github/r/repository.html#auto_init) in the

[2018-08-09 11:44] radeksimko commented on #87
Related: https://github.com/google/go-github/pull/880 (PR adding upstream SDK support)

[2018-08-09 11:45] radeksimko commented on #89
Related: https://github.com/google/go-github/pull/880 (PR adding upstream SDK support)

[2018-08-09 18:48] victoryNap commented on #89
We're just waiting on one more review before merging.

[2018-08-09 19:47] #76 closed

[2018-08-10 05:18] #19 closed

[2018-08-10 05:19] #13 closed

[2018-08-10 16:31] radeksimko commented on #13
@grv87 It has been implemented & merged in #119 and will be part of the next release.

[2018-08-11 03:20] ghost opened #130 "github_team creates team with no members that is unmanageable"
_This issue was originally opened by @steven-edgar as hashicorp/terraform#18655. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

### Crash Output

### Expected Behavior

Cr

[2018-08-13 05:29] radeksimko commented on #130
Hi there @steven-edgar
thanks for opening this issue. It looks like you're bumping into the exact same issue as is described in https://github.com/terraform-providers/terraform-provider-github/pull/104

Can you please take time to read that short thread and respond there (with scopes of the token used), so we get a chance to reproduce this behaviour and decide what next steps to take?

[2018-08-13 08:09] #61 closed

[2018-08-13 09:29] benabineri opened #131 ""github_team_repository.write.0: At least one permission expected from permissions map.""
### Terraform Version
Terraform v0.11.7
+ provider.github v1.1.0

### Affected Resource(s)

- github_team_repository

### Terraform Configuration Files
[code]

### Debug Output
Can provide.

### Panic Output
No panic.

### Expected Behavior
github_team_repository.write permission should be set.

### Actual Behavior
Fails with the error below (but only for some repos)

[code]

### Steps to Reproduc

[2018-08-13 09:32] radeksimko commented on #62
@mbbroberg

The privilege assigned to your user account are separate. Terraform uses a token which has its own permission management [with scopes](https://developer.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/). Can you please double check and let us know whether [your token](https://github.com/settings/tokens) (which is used by Terraform) has sufficient permissions?

I

[2018-08-13 13:43] radeksimko commented on #131
Hi @benabineri
thanks for the report.

I was unfortunately unable to reproduce the bug though. Do you mind providing the [debug log](https://www.terraform.io/docs/internals/debugging.html) from terraform commands you ran (minus any secrets)?

You can create a gist (instead of pasting it directly to the thread here). Also feel free to use our [GPG key](https://keybase.io/hashicorp) to encrypt it if

[2018-08-13 13:59] radeksimko commented on #81
@enobrev Reproduced, thanks for the report.

I'm working on a fix.

[2018-08-14 13:42] #69 closed

[2018-08-14 15:59] #81 closed

[2018-08-14 16:39] ss-remygreinhofer commented on #5
To add some feedback to the conversation, I am trying to manage a large GitHub organization with this provider and I am constantly blocked by the rate limit: `403 You have triggered an abuse detection mechanism. Please wait a few minutes before you try again.`.

[2018-08-14 17:43] docwhat commented on #5
If we switched to making the changes via GraphQL (the [v4 API](https://developer.github.com/v4/)) then it would prevent the case where only a partial change happens (in theory).

[2018-08-14 17:44] docwhat commented on #5
@ss-remygreinhofer

And don't forget:

- Switch to the v4 GraphQL api since it (in theory) can get better info for less cost.

[2018-08-15 10:56] radeksimko commented on #84
Reproduced using [this full config](https://gist.github.com/radeksimko/d31d5c9817f0ab407f30449af314079c), thanks for the report.

I'm going to investigate further and see if/how we can fix this.

[2018-08-15 11:02] radeksimko commented on #85
Reproduced, thanks for the report.

I'm going to investigate further and see how/if we can fix this.

[2018-08-16 10:08] radeksimko commented on #84
PR pending review in https://github.com/terraform-providers/terraform-provider-github/pull/136

Thanks for the patience.

[2018-08-16 10:37] radeksimko commented on #85
PR pending review: https://github.com/terraform-providers/terraform-provider-github/pull/137

It looks like historically GitHub might not have had an API for updating the membership level, or the SDK may have been missing support. Either way the PR is making the field updatable.

@thomasbrezinski the output you should see after we merge and release the patched version is something like this:

[cod

[2018-08-16 21:25] #84 closed

[2018-08-16 21:27] #85 closed

[2018-08-17 01:56] razorsedge commented on #6
@radeksimko I don't understand what eventual consistency has to do with resources that I built over a year ago *always* being "created" every time I do a `terraform apply`.  They simply never make it into the state file.

[2018-08-17 05:33] radeksimko commented on #6
@razorsedge That's a very useful and important detail (so far not mentioned in this thread), which indeed puts the issue in a different perspective. Thank you for the update. 👍

Do you mind providing a [debug log](https://www.terraform.io/docs/internals/debugging.html) from terraform commands you ran (minus any secrets)? This would allow us to investigate further what's happening behind the scenes

[2018-08-20 10:01] radeksimko commented on #66
Hi @caarlos0
sorry for the confusion here.

When you create infrastructure from a config, Terraform saves the [state](https://www.terraform.io/docs/state/index.html) of it into a [backend](https://www.terraform.io/docs/backends/index.html) (which can be a local file). This state more or less reflects how you structured your resources in the config, so that we can later pair pieces of config with p

[2018-08-20 10:01] #66 closed

[2018-08-22 09:05] toddbluhm commented on #89
Just FYI, the go-github library appears to have been updated now and that PR merged in.

[2018-08-23 15:55] razorsedge commented on #6
In attempting to simplify the code and get the debug log, I picked a single `github_team_repository` and ... It Worked.  The `github_team` was added to the repo, it was in the statefile, and subsequent plan/apply stated there were no changes.

So I picked another repo and it failed to add it to the catalog.  This got me to thinking about the difference between the two repos: the successful one is

[2018-08-23 16:11] razorsedge commented on #6
https://gist.github.com/razorsedge/8c0d018009e70858c8ac33bc0f24951a

[2018-08-24 19:39] razorsedge commented on #6
Adding repo:all to my token's scope has fixed it.  I am not sure if only repo:status, repo_deployment, public_repo, or repo:invite will do the trick.

[2018-08-27 16:39] ctrom opened #140 "Upgrading to the latest provider version causes repositories to be deleted and recreated"
There appears to be a bug in the latest version of the github provider that causes it to destroy and recreate the repositories I've got in my config.

### Terraform Version
[code]

### Affected Resources
- github_repository

### Terraform Configuration Files
#### repositories.tf:
[code]
#### modules/repository/main.tf:
[code]
#### modules/repository/variables.tf:
[code]

### Debug Output
[code]
##

[2018-08-28 09:33] radeksimko commented on #140
Hi @ctrom
sorry for the troubles.

I'm going to try and reproduce this. I have a hunch that it's unrelated to the upgrade, but rather to a rename of your repository, which is something we can't quite deal with gracefully (yet). I may be wrong though.

Which version you were upgrading from?

[2018-08-28 15:44] ctrom commented on #140
I was using `v1.1.0` and pinning the provider version back to that eliminated the problem for me - my config is no longer recommending I delete my repos.

[2018-08-31 10:41] jml opened #141 "[Feature Request] Configure Pages with github_repository"
It would be good to be able to control the Pages feature of GitHub via this provider. This would, I think, mean adding parameters to `github_repository` such that you could enable Pages, name the source branch, and optionally specify a directory within that branch.

[2018-09-04 18:35] jfharden commented on #140
I'm also seeing this issue but through a different path.

I imported a github repo, locked to provider 1.1.0 the plan does not want to recreate the repo, but on version 1.2.1 it does:

In my module:
[code]

Plan on 1.1.2 includes
[code]

[code]

Plan when locked to 1.1.0 (the changes here are expected, important to note it doesn't want to change the id)

[code]

[code]

[2018-09-04 22:38] joebowbeer commented on #83
AFAIK, repository creation (https://developer.github.com/v3/repos/#create 30) and content retrieval (https://developer.github.com/v3/repos/contents/#get-contents 11) are **still** only supported in the v3 (REST) API.

https://platform.github.community/t/schema-request-create-repository-and-get-repository-contents/1833

[2018-09-05 05:49] joshgodsiff opened #144 "[Feature Request] Provide 'Releases' data source"
I would find it useful to be able to retrieve release artefacts from GitHub via Terraform (i.e. the data that can technically be gotten from https://api.github.com/repos/:owner/:repo/releases and its sub-APIs at the moment).

For context, I need to grab a release artefact that's being published to a *private* GitHub and deploy it to our infrastructure. The fact that it's private means that I can't

[2018-09-05 06:49] radeksimko commented on #144
Hi @Kheldar
thanks requesting the mentioned data source.

Do you mind providing a bit more context about your use case? Specifically I'm curious which Terraform provider & resource would you use to deploy the artefact.

[2018-09-05 11:27] radeksimko commented on #140
@ctrom I'm struggling to reproduce this. Do you mind running `terraform plan` with [debugging mode](https://www.terraform.io/docs/internals/debugging.html) enabled (via `TF_LOG` & `TF_LOG_PATH` env variables) and providing the debug log? You may use our GPG key to encrypt it and/or send it privately to radek@hashicorp.com if you worry about sensitive data in that log.

-----

@jfharden I believe t

[2018-09-05 16:39] ctrom opened #146 "Cannot set the default branch on a new repository"
Right now, an [error is thrown](https://github.com/terraform-providers/terraform-provider-github/blob/master/github/resource_github_repository.go#L161) if a default branch is specified when a respository is being created, even if the `auto_init` value is set to true. We should allow setting the default branch if `auto_init` is true since initializing the repo will necessarily result in the creatio

[2018-09-05 23:02] Kheldar commented on #144
In this specific instance, I need to get it onto S3 (the artefact is a Lambda package). In general, it would be good to be able to pass this to any resource that can currently take a file.

[2018-09-06 14:58] xchapter7x opened #147 "data race on repo creation"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
-> % terraform -v
Terraform v0.11.8

### Affected Resource(s)
Please list the resources as a list, for example:
- github_repository
- github_team

[2018-09-06 18:54] ctrom commented on #146
After testing various inputs to the GitHub API, I have determined that:

- The `default_branch` is set to `master` when a repo is created, regardless of whether or not it is created with `auto_init` (even if the `master` branch does not exist).
- The create endpoint ignores any value that is provided for `default_branch`.
- Attempting to set the `default_branch` to a branch that does not exists re

[2018-09-07 00:01] gabrielsyapse opened #148 "Unable to import github repo due to auto_init"
### Expected Behavior
Should be able to import an already created github repo and then run terraform apply without it wanting to recreate the repo.

### Actual Behavior
In our terraform, we set the argument `auto_init = true`. Recently, there was a commit which changed the behavior. Before I was able to import an already created github repo into terraform state and then run apply, but now, it want

[2018-09-07 16:01] #5 closed

[2018-09-07 16:40] radeksimko commented on #147
Hi @xchapter7x
GitHub's API is indeed eventually consistent, but this is most likely caused by the fact that your configs don't use referencing syntax, which would normally hint Terraform how to schedule operations correctly, see modified config below.

[code]
without these references Terraform has no way of knowing that `github_repository` should be created before `github_team_repository`.

I'm g

[2018-09-07 16:40] #147 closed

[2018-09-07 16:51] xchapter7x commented on #147
@radeksimko thanks. that makes total sense. if i still see issues ill let you know.
thanks again.

[2018-09-10 03:41] mvn-bachhuynh-dn opened #151 "Always create resource when apply"
### Terraform Version
terraform -v
Terraform v0.11.8
+ provider.github v1.2.1

### Affected Resource(s)
github_membership

### Expected Behavior
0 to add, 0 to change, 0 to destroy

### Actual Behavior
[code]

### Steps to Reproduce
1. `terraform apply`
2. yes (to confirm)
3. `terraform apply` (Again)
4. Issue happen.

[2018-09-10 19:53] djaboxx-trial opened #152 "create new fork repo resource"
### Terraform Version
Terraform v0.11.7

It would be incredibly helpful to have a resource that just forks a repo into given organization. This would allow forking terraform public modules into organization and allow TFE to use in private module registry.

[2018-09-11 04:10] ctrom commented on #140
@radeksimko I'm not sure what occurred to resolve this issue. I updated to the 1.2.1 version of this provider again and was also unable to replicate the behavior that I was seeing before. When I was experiencing this prior, I tested it on two different machines to ensure that the behavior wasn't unique to my configuration. Thank you anyway for taking the time to investigate this.

[2018-09-11 05:35] radeksimko commented on #140
Understood, I'm sorry I wasn't able to reproduce this, but I'm going to close the issue then, as there's currently nothing we can do.

Thanks.

[2018-09-11 05:35] #140 closed

[2018-09-11 05:38] radeksimko commented on #148
Hi @gabrielsyapse
the behaviour you described is (unfortunately) expected since you're importing an existing repository and the GitHub API doesn't tell us whether the repository was auto-initialized, so we have no way of knowing whether to set auto_init to true or false when importing that resource.

We have discussed some long-term plans on improving the (currently limited) important functionalit

[2018-09-11 05:50] radeksimko commented on #151
Hi @at-bachhuynh ,
to better understand the issue & make it reproducible would you mind sharing more details? Specifically I'm interested in a [debug log](https://www.terraform.io/docs/internals/debugging.html) from terraform commands you ran (minus any secrets).

Feel free to use [our GPG key](https://keybase.io/hashicorp) to encrypt it and/or send it privately to radek@hashicorp.com if you worry

[2018-09-12 20:49] majormoses opened #153 "When a repo is marked as archived any permissions other than `pull` show delta in plan"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
[code]
### Affected Resource(s)
Please list the resources as a list, for example:
- `github_repository`
- `github_team_repository`

### Terraform

[2018-09-13 14:36] joebowbeer commented on #148
@radeksimko Can you be more specific regarding the workaround? I've tried several options and the only one that avoided the recreate is to remove the flag from my module. But then I don't know how to accomplish an auto_init. What are the steps to auto_init on create and also avoid subsequent recreations?

[2018-09-13 14:47] sstarcher commented on #148
Our decision was to add a lifecycle of ignore_changes to `auto_init`.

[2018-09-14 05:56] radeksimko commented on #148
My sincere apologies to everyone! 😑I drew conclusions before trying to reproduce it as it looked very similar to some other bugs I saw in the wild in the past.

Basically I was under the impression that we just set `auto_init` to `false` by default on import/read, but that's apparently not happening. There's currently no workaround except what @sstarcher mentioned.

I will raise a PR with patch an

[2018-09-14 08:30] radeksimko commented on #148
Sorry again for the overlook from my side.
Just a quick update: PR to fix this was just raised in https://github.com/terraform-providers/terraform-provider-github/pull/154

Also I just realized (while testing my PR) that there is, in fact a workaround, and that is to omit the `auto_init` argument completely from the config:

[code]
[code]
[code]
[code]

[2018-09-14 08:41] #148 closed

[2018-09-17 19:59] majormoses opened #155 "Changing `auto` init value should not force a repo to be destroy/created"
### Terraform Version

[code]
Plugin version `1.3`

### Affected Resource(s)
Please list the resources as a list, for example:
- github_repository

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

[code]

### Expected Behavior

`auto_init: (Optional) Meaningful only during create; set to

[2018-09-18 07:00] salvianreynaldi commented on #155
I'm also experiencing this issue. I think it was not like this in the previous provider version

[2018-09-18 08:42] damascenorakuten opened #156 "Can't set the number of reviewers when using the github_branch_protection resource"
Hello, we would like to change the number of reviewers from 1 (default) to 2, but that's not currently possible.

### Terraform Version
[code]

### Affected Resource(s)
Resource:
- github_branch_protection

### Terraform Configuration Files
[code]

### Expected Behavior
We should be able to change the number of reviewers, but we can't. There should be a parameter to set that.

### Actual Behavior

[2018-09-18 15:31] majormoses commented on #155
@salvianreynaldi so for imports there is an unreleased fix that has been merged but I think in general this is still a problem. Per the docs its only meaningful during creation so we should ignore it rather than force a new resource. In my use case I am using `auto_init` to determine if we can enable branch protections, while I could use another value to control this I think it defies the users ex

[2018-09-20 12:39] damascenorakuten commented on #156
@joebowbeer thanks for your reply. I just realized there's already a request for that [here](https://github.com/terraform-providers/terraform-provider-github/issues/89), should I simply close this issue?

[2018-09-20 12:43] joebowbeer commented on #156
#89 Yeah, I just realized it as well and was going to update my comment

I think this should be closed as a dup

[2018-09-20 12:47] damascenorakuten commented on #156
Great! Closing it then, thanks.

[2018-09-20 12:47] #156 closed

[2018-10-01 20:12] majormoses commented on #155
@radeksimko any thoughts? I'd really like to see this reverted to the old behavior.

[2018-10-08 14:17] radeksimko commented on #155
Hi folks,
import was indeed fixed in #154, but for other use cases I believe the resource behaves as intended.

Can you explain your use case a bit more? I'm not sure I fully understand the context there.

Thanks.

[2018-10-11 15:59] majormoses commented on #155
Sorry been traveling for work. So our use case is that sometimes you want to create a repository without initialization (maybe to copy the history from a public project to a private one and is not a normal fork scenerio) we have a module that used `auto_init` to determine the count of the branch protection since you can't create a branch protection for a branch that does not exist. After they have

[2018-10-16 19:48] majormoses commented on #155
Also that has not been released so I am in a broken state for the moment. Can we please revert the change and discuss how to do this without breaking people?

[2018-10-19 06:25] cemo opened #162 "Support Github Actions"
Please support Github Actions.

[2018-10-25 20:19] majormoses commented on #155
@radeksimko let me know if you need any further clarification

Here is a snippet from our module illustrating what we are doing a bit more:
[code]

We basically keyed branch protection setup off `auto_init` value so it could be flipped as a single variable rather than requiring two variables to essentially be the same. Github recently added support for creating branch protections without branches

[2018-10-26 14:51] abridgett opened #164 "github_branch_protection requires branch to exist"
### Terraform Version
0.11.10

### Affected Resource(s)
- github_branch_protection

### Expected Behavior
A branch protection rule should be created for the branch (or fnmatch wildcard) in question

### Actual Behavior
[code]

### Important Factoids
I wonder if this is a limitation of the github API, the request being sent matches what you'd expect from https://developer.github.com/v3/repos/branch

[2018-10-27 01:41] paultyng commented on #162
If you are talking about setting them up on a repository, that is managed by a file in the repository, so I don't think its something that you would do via the API.

[2018-10-30 11:01] martinssipenko opened #165 "Repository topics must be lowercase"
Github returns 422 error when topic is not lowercase. Works fine if topics are lowercased.

### Terraform Version
[code]

### Affected Resource(s)
- github_repository

[2018-10-30 17:48] Stretch96 opened #166 "github_repository_webhook fails with 422"
### Terraform Version
Terraform v0.11.10

### Affected Resource(s)
Please list the resources as a list, for example:
- github_repository_webhook

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Actual Behavior

[code]

### Steps to Reproduce
1. `terraform apply`

[2018-10-31 13:22] Stretch96 commented on #166
GitHub have depreciated GitHub services, so only `web` is a valid value for `name`:
https://developer.github.com/v3/repos/hooks/#parameters

[2018-11-05 22:21] paulness opened #167 "Branch protection for a branch that does not yet exist or regex pattern"
### Terraform Version
0.11.8

### Affected Resource(s)
- github_branch_protection

### Issue
Using the Github UI I can create branch protection rules for `release/*` and `develop` even if neither exist. Using the Github terraform provider this is not possible.

### Expected
Using the terraform provider I should be able to create branch protection regardless on whether the branch exists or not.

[2018-11-09 04:05] majormoses commented on #87
The functionality has been merged upstream into master but has not been released yet.

[2018-11-09 04:08] majormoses commented on #165
In the UI when you create one it downcases them for you so we should do the same in the provider.

[2018-11-09 04:15] majormoses commented on #167
This was a new change, not sure if the api has been updated, I would check but

![image](https://user-images.githubusercontent.com/3145127/48242989-a3583f00-e392-11e8-8546-3b618deb2c7f.png)

Assuming they have exposed said branch protections being created in the new manner it would need to be added in https://github.com/google/go-github and then consumed here. I'll try to remember to open an issue

[2018-11-09 04:18] majormoses commented on #155
when this is added: https://github.com/terraform-providers/terraform-provider-github/issues/167 I wn't need the hack but I still question why this change made sense.

[2018-11-09 06:02] martinssipenko commented on #165
I tried doing that in code but failed as lowercasing topics prior sending them to github made terraform think there are unapplied changes. Thats because topics were with uppercase letters in tf file, but came back as lowercase from github.

[2018-11-09 14:44] paulness commented on #167
@majormoses
It's a limitation of the v3 rest API. Which is what the github terraform provider is using. I wrote a python script for the v4 GraphQL API that does what I need for now.

[2018-11-09 14:44] #167 closed

[2018-11-09 15:45] majormoses commented on #167
I think this should be kept open so that once its available via the upstream library we can implement it here.

[2018-11-09 15:53] majormoses commented on #165
Sounds good, you probably just want to make the comparison also downcased as well. For example:
[code]

[2018-11-15 13:03] joebowbeer opened #168 "Missing state for membership in nested teams"
Say a user is a member of team Child which is a child of team Parent, but the user is not directly a member of team Parent.

Then the imported state shows the user to be a member of both teams:

[code]

Adding a new user to *both* teams via terraform results in similar terraform state, that is the new user is shown to be a member of both teams in the terraform state. However, the result on GitHub

[2018-11-16 23:13] majormoses commented on #55
https://github.com/terraform-providers/terraform-provider-github/issues/17#issuecomment-310893940

@radeksimko I saw you closed some of the other versions of this, we probably should leave at least one of them open as people keep creating new issues and we might as well keep one open with the context.

[2018-11-19 13:45] lifeofguenter opened #169 "deleting github_repo causes 403"
The user running the terraform is both owner of the team + added as admin to the repository.

[2018-11-20 14:52] mrparkers commented on #25
Perhaps I'm misunderstanding, but how can this potential resource support both public github and GHE when public github does not have a way of creating orgs through an API? Would the create function just error out if it isn't running against GHE, and users that want to manage orgs for public github would just be expected to import this?

I can devote some time to this but I think I need a bit of c

[2018-11-26 21:55] cpaika opened #170 "Github Repository always creating new and erroring"
Hi there,

I've defined a github enterprise provider, and created a simple terraform file for creating a repository.  When I ran the terraform plan/apply cycle the first time the repository was successfully created.  When I go to run it a second time, terraform plan tells me that its going to create a repository even though the repository already exists.  When I run terraform apply, it fails and g

[2018-11-26 22:03] cpaika commented on #170
Deleting the resource and restarting from scratch fixed the issue...not sure what's changed but I can close this issue. 👍

[2018-11-26 22:03] #170 closed

[2018-11-27 07:41] majormoses commented on #25
I am supportive of this idea: https://github.com/terraform-providers/terraform-provider-github/issues/25#issuecomment-410618161

[2018-11-29 17:26] Tenzer opened #171 "Webhook secret set via Terraform makes signatures not match"
### Terraform Version
Terraform v0.11.10
+ provider.archive v1.1.0
+ provider.aws v1.49.0
+ provider.github v1.3.0

### Affected Resource(s)
- github_organization_webhook
- github_repository_webhook (assumed, not tested)

### Terraform Configuration Files
[code]

### Expected Behavior
I should be able to verify the body of the incoming webhook requests against the signature in the header, using th

[2018-11-30 15:32] ultimatemonty commented on #99
my team ran into this issue in Github Enterprise 2.14. Our work around was to manually enable projects at the org level, apply the change (in our case it was adding checks to a branch) and then disable projects again.

Interestingly repo level changes were applied with no problem (disabled merge commits, rebase merges, and projects). It was only adding the checks to the branch that failed.

[2018-12-11 05:35] estahn commented on #155
I had to disable `auto_init` to import our repositories. After the import I tried to add it back into our module but that would then start destroying repositories. Why is `auto_init` relevant for anything else than repository creation?

[2018-12-11 20:39] travispaul commented on #87
Hi @majormoses, are you aware of an ETA for the next release?

Thanks in advance.

[2018-12-12 01:49] majormoses commented on #87
It looks like its present in the latest version: https://github.com/google/go-github/tree/v19.1.0

[2018-12-18 20:49] majormoses commented on #169
What scopes were given to the github token that is used to authenticate?

[2018-12-20 13:24] eliasbrange opened #173 "Renaming labels creates new labels."
Terraform version: v0.11.8
Provider version: v1.3.0

# Problem

It seems like when changing the name property on a label the provider creates a new label with the new name and leaves the old one intact.

# Cause

The reason for this is due to the implementation in https://github.com/terraform-providers/terraform-provider-github/blob/master/github/resource_github_issue_label.go.

In `resourceGithub

[2019-01-02 16:16] Rizbe opened #176 "404 creating repo and adding a collaborator"
### Terraform Version
[code]

### Affected Resource(s)
- github_repository_collaborator

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Created the repo foo and add the user foo as a collaborator

### Actual Behavior
Created the repo foo but when it went to add the user, it got a 404 because it thinks the repo does not exist
### Steps to Reproduce
1. `terr

[2019-01-07 15:29] robburger opened #177 "Membership fails when also adding to team and only 1 license seat available"
### Terraform Version
`Terraform v0.11.11`

### Provider Version
`terraform-provider-github_v1.3.0_x4`

### Affected Resource(s)
- github_membership
- github_team_membership

### Terraform Configuration Files
[code]

### Debug Output (important bits, in order)
[code]

### Expected Behavior
An existing GitHub user should have been created and added to a team, taking up an available seat.

### Actua

[2019-01-09 19:30] philnielsen commented on #144
Bumping this and also providing another use case.

We would like to get version numbers from a github release (or tag, but that is a different API and therefore probably a different data source from this card) that would then be used to deploy that version of a docker container with another terraform provider. (AWS in our case but could be anything else)

[2019-01-19 23:14] kquinsland commented on #45
the `username` is the `github_orginization` if you're operating under the personal/free account.

I was able to get `tf import github_repo...` to work with a personal access token.
I was able to run `tf apply` after importing and got a correct/successful "no changes needed"
I then tried to change the name of the repo in terraform, and am now getting:
```github_repository.test: POST https://api.git

[2019-01-28 08:09] captn3m0 commented on #83
We hit our rate limits daily (150 Repos, 30 teams, and ~200 users in the org) and a lot of it is just because of plans fetching repos/teams/team memberships one by one.

Switching to graphQL will help alleviate this significantly.

[2019-01-30 01:46] paultyng opened #179 "We should add resources to manage blocked users on an organization"
See https://developer.github.com/v3/orgs/blocking/

[2019-02-04 22:48] appilon opened #182 "[PROPOSAL] Switch to Go Modules"
As part of the preparation for Terraform v0.12, we would like to migrate all providers to use [Go Modules](https://github.com/golang/go/wiki/Modules). We plan to continue checking dependencies into vendor/ to remain compatible with existing tooling/CI for a period of time, however go modules will be used for management. Go Modules is the official solution for the go programming language, we unders

[2019-02-06 21:38] MFProduction commented on #176
+1

[2019-02-06 21:53] MFProduction commented on #176
I found my error. I was trying to set repo name with the output from .full_name which gave me the error because the full name has organization before repo name: `org/repo` and you just need `repo`

[2019-02-08 05:49] harlowja commented on #89
any update on this?

[2019-02-08 05:51] wenbin1989 commented on #89
hey is this done yet? it's really a necessary feature

[2019-02-08 18:41] mattburgess opened #185 "HTTP 422 due to invalid API request payload"
### Terraform Version
[code]

### Affected Resource(s)
At least `github_repository`, but probably more

### Terraform Configuration Files
[code]

### Expected Behavior
The repository should have been created

### Actual Behavior
I got the following error:

[code]

### Steps to Reproduce
1. `terraform apply`

### Important Factoids
This was run against a GitHub Enterprise instance that was previous

[2019-02-08 19:54] mattburgess commented on #185
Looks like this is an issue with the vendored go-github library.  https://github.com/google/go-github/issues/1014 fixed by https://github.com/google/go-github/commit/02e358b9b32a05d305109beee8f3a7be41cc3586. I'll see if I can get a simple PR together that simply bumps that dependency to a recent version.

[2019-02-14 18:03] jonathanan commented on #164
This is limitation of the GitHub API: https://github.community/t5/GitHub-API-Development-and/REST-API-v3-wildcard-branch-protection/m-p/14547#M260

[2019-02-20 14:12] kayrus opened #190 "OAuth2: mark token and organization parameters optional"
GiHub provider should not require GITHUB_TOKEN and GITHUB_ORGANIZATION. There are API calls, which don't require tokens.

### Terraform Configuration Files
[code]

### Expected Behavior

[code]

### Actual Behavior

[code]

### References
Official documentation says that these fields are already optional: https://www.terraform.io/docs/providers/github/index.html

[2019-02-21 12:37] radeksimko commented on #182
Addressed by https://github.com/terraform-providers/terraform-provider-github/pull/192

[2019-02-21 12:37] #182 closed

[2019-02-21 12:51] radeksimko commented on #165
Since the API rejects uppercase I think the best way forward here would be to add a validation function which enforces topics to be lowercase.

We can raise the error during the validation phase, which is much earlier and give users more helpful feedback before `plan`ing or `apply`ing changes.

[2019-02-21 14:24] #166 closed

[2019-02-22 16:52] liamg-form3 opened #193 "[BUG] Cannot switch default branch back to master"
Switching default branch to something other than master, then attempting to switch it back to master again results in success being reported, but the default branch not changing back to master.

Problem is here: https://github.com/terraform-providers/terraform-provider-github/blob/master/github/resource_github_repository.go#L248 - it will only ever update default branch if it's NOT `master`.

###

[2019-02-22 19:59] drpebcak opened #195 "404 when creating repo and adding team permissions"
### Terraform Version
Terraform v0.11.11

### Affected Resource(s)
- github_repository
- github_team_repository

### Terraform Configuration Files
[code]

### Expected Behavior
It should have created the repository and then added team permissions

### Actual Behavior
It creates the repository, but then 404s when trying to add team membership. When the terraform is ran a second time, it succeeds.

[2019-02-26 18:38] evagonz commented on #167
@paulness how is your script working out? Would you be willing/able to share it? I'm running into the same situation (not able to set release-* protections).

[2019-02-27 00:00] nicksantamaria commented on #5
@ss-remygreinhofer This issue appears to be separate to the rate limit. Try adding `-parallelism=1` to your plan/apply.

[2019-02-28 03:16] macropin commented on #55
This is the current workaround https://gist.github.com/macropin/49f8a3c72afc157fa0d81688d26af677

[2019-02-28 04:13] majormoses commented on #55
I do something similar but with a `terraform state move [old] [new]` instead pf a remove and import. https://www.terraform.io/docs/commands/state/mv.html#example-move-a-module-into-a-module

[2019-02-28 14:17] dgmorales opened #196 "GitHub usernames are case-insensitive and should be treated that way"
GitHub usernames are case-insensitive but case preserving. When searching in the UI and the API, the case does not matter, but the user found is returned with the proper username capitalisation defined by the user. The terraform GitHub provider needs to be aware of that.

When adding a user to an org with the github_membership resource, it will work with whatever casing you specify. BUT, when runn

[2019-03-02 06:59] p0bailey commented on #45
Having the possibilty to create and manage persona repos from TF would be amazing, especially for demos. Any updated down the line?

[2019-03-06 20:52] carinadigital commented on #130
Hi @radeksimko

I have some proposals for fixing this. It feels wrong to add this discussion to #104 (where I'm actively participating) as there could be multiple solution PRs and the discussion should remain somewhat central. First to restate the problem:

When creating a team via the github UI, the user creating the team is automatically added as a member to the team with **maintainer role**. Th

[2019-03-06 22:48] sfdc-afraley opened #197 "github_repository_webhook "name" parameter can only have value "web", add to docs"
### Terraform Version
- Terraform v0.11.11
- provider.github v1.3.0

### Affected Resource(s)
- github_repository_webhook

### Terraform Configuration Files
[code]
### Expected Behavior
The documentation should be updated to indicate that Github does not currently support any value other than "web" for the "name" parameter.  I've lost hours troubleshooting this in the past, and almost just did aga

[2019-03-07 00:04] sryabkov commented on #171
I think I am experiencing the same issue.  I initially set the repo webhook manually using GitHub UI, and the webhook was firing correctly. I then tried doing it through TF using the same value. `terraform plan` reported that it wanted to update the value. I ran `terraform apply`, after which the webhook started failing. I had to manually reset the secret value using GitHub UI to fix the webhook.

[2019-03-08 17:25] milosgajdos opened #199 "github_repository_webhook: 404s on API call"
### Terraform Version
[code]

### Affected Resource(s)
- `github_repository_webhook`

### Terraform Configuration Files
[code]

### Debug Output
[https://gist.github.com/milosgajdos83/39af1f290c75f0ff2d2c81385dfabaf7](https://gist.github.com/milosgajdos83/39af1f290c75f0ff2d2c81385dfabaf7)

### Expected Behavior
New `GitHub` webhook should be created.

### Actual Behavior
`terraform` fails [to crea

[2019-03-19 11:27] esaarima-futurice opened #201 "oops"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2019-03-19 11:28] esaarima-futurice opened #202 "oops"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2019-03-19 11:30] #202 closed

[2019-03-19 11:32] #201 closed

[2019-03-24 06:02] KrisKamau opened #204 "Terraform tries to download resources as provider plugins when I specify 'repository' as a resource"
Hello,

I am a new user trying to learn Terraform. I wanted to move past the initial aws examples and see what other examples I could use. I wanted to use github to create a repository and I created a token with the appropriate permissions to do so.

However, when I call 'terraform init' it tries to download the 'repository' resource as a provider instead. The aws provider and resource ran smoothl

[2019-03-24 17:19] p0bailey commented on #45
Hello there,
Meanwhile waiting for a fix into GitHub Terraform provider. I have just released a Terraform module for anyone interested to  set GitHup personal repositories. It's a bit raw, though.

https://github.com/p0bailey/terraform-github-personal-repositories

[2019-03-27 15:00] StephenKing opened #205 "Allow unauthenticated usage for public API endpoints"
Hi there,

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

### Affected Resource(s)
Please list the resources as a list, for example:
- data.github_ip_ranges
- data.github_repositories
- data.github_* actually..

### Terraform Configuration Files
[code]

### Expecte

[2019-03-28 21:53] niedbalski commented on #171
Experiencing the same exact bug. +1

[2019-03-31 00:25] majormoses commented on #196
Interesting that makes sense, while not quite the same thing case does affect labels as well https://github.com/terraform-providers/terraform-provider-github/issues/165#issuecomment-437402327. I could not find anything in their docs shedding further light on this matter. I did some poking around and I think it's not quite so straightforward. I would also lean towards ignoring case here for compari

[2019-03-31 00:38] majormoses commented on #195
Does running it a second time or pre-creating the repository work? What version are you using? The reason I ask is that I have been using this provider in my modules quite a bit and I dont see this behavior. I validated that I did not have any explicit dependency in place forcing the behavior to avoid that. Is it possible that your token does not have the appropriate oauth scopes attached to it? G

[2019-03-31 01:27] drpebcak commented on #195
It works when running the second time, or if I’m managing a repo that already existed. It doesn’t always happen either - it seems to me like a case where the api is being ‘eventually consistent.’

[2019-03-31 02:17] majormoses commented on #195
Interesting, Do you have any metrics on how often it fails? I have created hundreds of repos and assigning repo team permissions like this without encountering. I am not trying to minimize your pain I am just trying to understand how/when it happens as I have so far been unable to replicate.

[2019-03-31 02:21] drpebcak commented on #195
Unfortunately nothing super meaningful. I imported a bunch of existing repos, and have only had to create a few new ones from scratch. I’d say in my experience it fails most of the time, but I’d have to try it a bunch more times before I could give any real stats.

[2019-03-31 22:23] ekini opened #206 "There is no option to sort repositories in github_repositories data source"
Hi there,

### Terraform Version
Terraform v0.11.11

### Affected Resource(s)

- data.github_repositories

### Terraform Configuration Files
[code]
### Expected Behavior
I expect the list to be sorted consistently, for example if I add another repository to the organisation.

### Actual Behavior

Possibly the new repos get added to the beginning of the list of repositories.

### Steps to Reproduce

[2019-04-03 00:42] niedbalski commented on #171
Well, this is reproducible with 0.11.13 and current master. I think the best approach would be for the config schema to be forcenew = true and remove the diffsupress entirely.

[2019-04-03 04:19] edahlseng commented on #106
For what it's worth, I've been using https://github.com/edahlseng/terraform-provider-repository-template to keep files like PR templates in sync across several repositories.

[2019-04-10 00:31] avishnyakov opened #208 "Ability to merge topics on repository?"
Hi team,

It might be nice to have ability to merge existing topics on the repository with terraform managed topics. Right now terrafrom seems to reset topics to what defined (or not) in the *.tf. That cleans up user-defined topics on repositories.

### Terraform Version
Terraform v0.11.13
+ provider.github v1.3.0

### Affected Resource(s)
-  github_repository

### Terraform Configuration Files
[c

[2019-04-18 10:02] hshafy commented on #197
👍  I spent sometime too trying to figure out the problem, as per GitHub API v3 docs https://developer.github.com/v3/repos/hooks/#parameters

Also the docs links is broken, showing this message:

`{
  "message": "As of January 2019, GitHub Services can no longer be modified. Please see the blog post for details: https://developer.github.com/changes/2018-04-25-github-services-deprecation\nYou can us

[2019-04-18 10:47] hshafy commented on #197
I see this is fixed in #183 and currently in `master` but not in the `stable-website` branch, that's why website is not updated.

[2019-04-18 13:45] bltavares commented on #208
That is the expected behaviour of managing resources using `terraform`. It will always consider that the correct settings are the declared on the resource definition and try to match it.

You could declare the topics on the resource, so it does not try to remove it:

[code]

[2019-04-23 14:14] bflad opened #210 "Retry Calls on HTTP 5XX Response Status Codes"
### Terraform Version

[code]

### Affected Resource(s)

In our use case, mainly:

- `github_issue_label`

### Terraform Configuration Files

[code]

### Debug Output

Issue is intermittent, can provide if necessary.

### Expected Behavior

The Terraform resource should retry the HTTP request on retryable HTTP response status codes (e.g. 5XX).

### Actual Behavior

[code]

### Steps to Reproduce

[2019-05-02 21:20] paultyng commented on #204
[code]

Should probably look like:

[code]

See the example here: https://www.terraform.io/docs/providers/github/r/repository.html

[2019-05-02 21:20] #204 closed

[2019-05-02 21:48] #179 closed

[2019-05-02 21:55] #185 closed

[2019-05-02 21:55] #89 closed

[2019-05-02 23:46] paultyng commented on #179
`2.0.0` has been released with this included

[2019-05-02 23:47] paultyng commented on #185
`2.0.0` has been released with an update for the vendored SDK that should address this.

[2019-05-02 23:48] paultyng commented on #89
`2.0.0` has been released, including support for this attribute.

[2019-05-03 15:25] majormoses commented on #210
Ya I have seen this a few times as well, adding some very basic retries would be good. We might want to consider putting in some kind of circuit breaker with that many objects as this could easily contribute to being rate limited with a small outage once its over and being left in an odd in between state.

[2019-05-03 15:33] majormoses commented on #208
That is true when you are talking about distinct resources but the [api call](https://developer.github.com/v3/repos/#replace-all-topics-for-a-repository) for topics are a single api request to manage all of the topics. While we could do this by pulling down the existing topics, merging the maps, and then checking if there is a delta I actually prefer the way it currently works. Currently it shows

[2019-05-03 15:35] majormoses commented on #205
I think this is a duplicate of https://github.com/terraform-providers/terraform-provider-github/issues/190

[2019-05-05 23:39] avishnyakov commented on #208
Well, agree on everything said in topic. thanks team.

While it is desired to manage state from the source code, meaning TF would be the only source of truth, sometimes we might need "merge" behavior such as "create/update/merge if does not exist".

In this GitHub example, TF manages tags which means no UI changes can be done. TF overrides it later.
Not too bad yet not ideal as user tags go away e

[2019-05-05 23:40] avishnyakov commented on #208
@bltavares it actually does, overriding user defined topics via UI straight to ["xxxx"]

[2019-05-08 19:32] SpamapS opened #225 "importing repository does not respect settings like `organization`, `base_url` and `token`"
Hi there,

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- github_repository

### Terraform Configuration Files
[code]

### Debug Output

https://gist.github.com/SpamapS/7a3243984f21e79d4f2b010fa6347196

### Expected Behavior

The provider should have used my config values for `base_url` and `organization`, and should have read the token f

[2019-05-08 19:49] SpamapS commented on #225
Tested and still happens with latest master, hash: 549388ba7eca4d99d4c94705c96e60c07e138936

[2019-05-08 23:04] SpamapS commented on #208
I actually wish issue labels worked the same way, so we could delete user created labels that confuse people.

[2019-05-09 00:07] majormoses commented on #208
Agreed, if you have something like `Type: Enhancement` and `Enhancement` it can get confusing, I have seen that happen especially since github bootstraps every repo with some default labels.

It would also save a ton on you API rate limit budget but we don't control their APIs sadly.

[2019-05-14 12:51] sudoforge commented on #155
This is still an issue, with provider `v1.3`.

I am unable to import repositories that were created manually, outside of Terraform. When a repository is created manually, the `auto_init` property is an empty string (assuming that the user doesn't manually select "create an initial commit"). This means that adopting this provider is effectively impossible without recreating all of the repositories

[2019-05-15 13:53] ryndaniels commented on #165
The fix for this was released in the 2.1.0 version of the provider.

[2019-05-15 13:53] #165 closed

[2019-05-16 02:16] majormoses commented on #155
@sudoforge in the mean time you can import and it should work with [2.0.0](https://github.com/terraform-providers/terraform-provider-github/blob/master/CHANGELOG.md#200-may-02-2019) which contains a partial fix.

I am able in my case also use an `ignore_changes  = ["auto_init"]` so effectively we can do whats needed. At this point for me its only a problem because I used it for more than what `aut

[2019-05-21 15:27] captn3m0 commented on #210
The number of failures we've been getting due to these random 502s is steadily increasing. Now every plan takes 3-5 attempts before we get lucky.

[2019-05-21 16:01] troyfontaine opened #229 "Terraform Import is missing attribute has_projects"
### Terraform Version
0.11.14

### Affected Resource(s)
- github_repository

### Terraform Configuration Files
[code]

### Expected Behavior
When running import of an existing github repository, the attribute `has_projects` should be imported into the state file.

### Actual Behavior
When running import of an existing github repository, the attribute `has_projects` is missing from the state file.

[2019-05-22 20:51] julianvmodesto opened #230 "Remove auth requirement for provider"
I'd like to consume only the [github_ip_ranges](https://www.terraform.io/docs/providers/github/d/ip_ranges.html) data source, but the provider requires setting an Organization and Token.

Would it be possible to remove this requirement?

[2019-05-23 20:32] captn3m0 commented on #210
I reached out to GitHub support, and they mentioned that having the `x-github-request-id` Header alongside such failures would be helpful. Would be nice if we could add that to terraform error message, in case of failures.

[2019-05-24 10:30] bflad commented on #210
@captn3m0 that sounds like a great enhancement! It should probably be added as a top level feature request so it doesn't get lost in here since they would likely require two different implementations. 👍

[2019-05-24 12:44] captn3m0 opened #231 "[Enhancement] Log `x-github-request-id` header on error responses from GitHub"
### Terraform Version
`v0.11.11`

### Affected Resource(s)
- ALL

### Debug Output
[code]

### Expected Behavior
The provider should log the `x-github-request-id` header alongside the `502` error message. This will allow error reports to be sent to GitHub, which can then investigate the 502 responses.

### Actual Behavior

GitHub side failures cannot be reported properly to GitHub.

### Steps to R

[2019-05-25 18:45] sudoforge opened #232 "Critical flaws with github_repository and has_projects; upstream API errors but state is written"
### Terraform Version

[code]

### Affected Resource(s)

- `github_repository`

### Terraform Configuration Files

[code]

### Debug Output

Relevant snippet:

[code]

### Expected Behavior

- The repository should have been created successfully
- The state for this resource should not have been written

### Actual Behavior

- The repository was created, but with errors
- **The resource was writte

[2019-05-28 20:34] mrwacky42 opened #233 "required_approving_review_count parameter is not documented"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- github_branch_protection

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Output
Please provider a link to a GitHub Gist containing the complete debug output: https://www.terra

[2019-05-29 15:37] sudoforge commented on #232
Here's the output of a plan, for additional context:

[code]

This occurs when `has_projects` is excluded from the `github_repository` resource, as well as when it is included and has any value (empty string, `false`, `true`).

[2019-05-30 18:24] sudoforge commented on #232
We should probably handle this particular field in a smarter way; instead of simply proxying the request upstream, we could avoid this problem altogether by only sending the upstream request if the remote property is `true` and the local property is not `nil`.

[2019-05-30 22:11] sudoforge commented on #232
Confirmed the issue this afternoon via `curl` and a key with all the scopes enabled. All of the following examples assume the repository has repository projects disabled.

- If a `POST` request is made (to create a repository) and `has_projects: true`, the request fails and the repository is _not_ created. **This differs from the provider, which creates the repository.**

- If a `PATCH` request is

[2019-06-07 00:51] majormoses commented on #230
duplicate of #190  and proposed as #191

[2019-06-07 00:58] majormoses opened #238 "[Feature Request] support enabling and disabling vulnerability alerts"
Github (now) supports [enabling](https://developer.github.com/v3/repos/#enable-vulnerability-alerts) and [disabling](https://developer.github.com/v3/repos/#disable-vulnerability-alerts) Githubs vulnerability alerts settings on the repository.

The upstream golang library has merged support for this as of [v25.1.1](https://github.com/google/go-github/blob/v25.1.1/github/repos.go#L465-L497) and can

[2019-06-07 16:26] biancarosa commented on #238
I'll give it a try on this one.

[2019-06-07 18:37] aeschright commented on #233
Closed by #220

[2019-06-07 18:37] #233 closed

[2019-06-08 02:26] #206 closed

[2019-06-10 21:30] megan07 commented on #103
Thanks @james-algolift  for opening this issue. It's been closed with #236 and will be released shortly.

[2019-06-10 21:30] #103 closed

[2019-06-10 21:30] megan07 commented on #229
Thanks @troyfontaine for opening this issue. It's been closed with #237 and will be released shortly.

[2019-06-10 21:30] #229 closed

[2019-06-12 17:21] johne commented on #171
it looks like it is setting the secret to 8 stars ("********") but only on an update not on the initial create...

interestingly enough, the unit tests for the provider sets the secret to 8 stars ("********")... i'm not sure if that is a coincidence...

[2019-06-12 21:15] megan07 commented on #225
Hi @SpamapS !

Thank you for submitting this issue.  I think what might be causing some confusion is the `alias` attribute that you are passing in to the provider.  One purpose for the `alias` attribute is for defining multiple provider instances with different configurations.  The default github provider does not have an alias, so when adding the `alias` attribute here, you are differentiating th

[2019-06-12 21:15] #225 closed

[2019-06-19 18:21] kzw commented on #197
The latest documentation does not even list `name` as one of the attributes required in this resource.  And yet it does not work without this `name = "web"`

[2019-06-25 19:01] megan07 commented on #199
Hi @milosgajdos83 !

Thank you for submitting this issue!  Unfortunately I have been unable to reproduce it, and I am not able to reach your gist with the link provided.  Are you still seeing this issue, and, if so, could you provide an updated link to the gist?

Thanks!

[2019-06-25 21:01] megan07 commented on #195
Hi @drpebcak !

Thank you for submitting this issue.  I think you may be hitting a race condition as the `github_team_repository` is being created in parallel with the `github_repository`.  I would suggest you read the `github_repository` name into the `github_team_repository` resource like this `repository = ${github_repository.foo.name}` and see if it works consistently.

You should be able to u

[2019-06-25 21:02] clebio opened #245 "Issue labels aren't checked against Github API"
I'm running into issues using Terraform to manage existing labels. The addition of labels to an existing set fails, and unfortunately removes labels assigned to issues, since Terraform re-orders its indexed list of labels, apparently unaware of Github's own ordering of labels. Terraform doesn't even seem to be checking Github for the existence of labels at all. This makes issue label management vi

[2019-06-25 21:19] megan07 commented on #176
Hi @Rizbe !

Thank you for submitting this issue.  I think you may be hitting a race condition as the `github_repository_collaborator` is being created in parallel with the `github_repository`.  I would suggest you read the `github_repository` name into the `github_repository_collaborator` resource like this `repository = ${github_repository.foo.name}`

Please let me know if you have further quest

[2019-06-25 21:26] drpebcak commented on #195
Thanks @megan07. I'm not actually using this anymore so I'll go ahead and close this issue.

[2019-06-25 21:26] #195 closed

[2019-06-26 09:33] milosgajdos83 commented on #199
Hi, I no longer use `terraform` I'm afraid. Will close this issue now.

[2019-06-26 16:18] megan07 commented on #196
Thanks @dgmorales for opening this issue. It's been closed with #241 and will be released shortly.

[2019-06-26 16:18] #196 closed

[2019-06-27 17:26] megan07 commented on #245
Hi @clebio !

Thank you for submitting this issue.  When using `count` in Terraform, each item is saved in state by the index from when it was created.  Therefore, if you insert a new label in the 0th spot, the old 0-indexed label will basically be ‘edited’ to the new labels information, and so on and so forth down the list.  Luckily, the order of the list does not need to match the order of label

[2019-06-27 18:24] #87 closed

[2019-06-27 18:46] megan07 commented on #245
@clebio on second thought, because order does not matter, and we don’t want duplicates, I will look into making it a set rather than a list.  Thanks!

[2019-06-28 17:30] clebio commented on #245
Ok. I removed all but three labels, just to make imports simpler for now. Then imported them.

[code]
Importing:
[code]
Clean plan after that:
[code]

Then I added another label at the end of the variable:
[code]

And applied:
[code]
However, when I remove the first label from the Terraform list variable, things break down:

[code]
Unfortunately, now `plan` shows no change needed, yet my Terraform

[2019-06-28 20:48] megan07 commented on #245
Hi @clebio !

One way to avoid this issue is to have one declared resource per label, rather than trying to create it from a list.

For example:
[code]

The way that `count` works is going to make it difficult to maintain any sort of ordering.  You make an excellent point, that if a label is removed from anywhere in the list, the labels below it will all need to rearrange their indices again.  If

[2019-06-28 21:14] clebio commented on #245
Hmm. Don't use `count` is certainly a _workaround_. Not sure there's anything more to say -- maybe the provider docs should be updated to state that, for this resource?

[2019-06-29 00:02] #197 closed

[2019-07-02 16:39] megan07 commented on #245
Hi @clebio !

I understand the frustration that the code can feel somewhat repetitive, and that it would be a good use case for `count`.  However, this is more of an issue with Terraform itself than it is with this particular resource or provider.  Because `count` uses indices to store things in state, it makes it impossible to re-order that list and not modify those indices.  This will happen reg

[2019-07-02 16:39] #245 closed

[2019-07-03 20:59] megan07 commented on #168
Hi @joebowbeer !

Thank you for submitting this issue!  I was able to reproduce this as well.  While digging into it I found a very interesting implementation in the GitHub API where, depending on the media type passed, the API will return child team members along with parent team members when requesting team members of a parent team (https://developer.github.com/v3/teams/members/#get-team-members

[2019-07-08 08:52] veggiemonk opened #254 "[Feature Request] Create repo from template repo"
Hi,

While trying to create a repository from a template, we realized the resource "github_repository" doesn't allow to create from template repository.

The feature has been announced here: https://github.blog/2019-06-06-generate-new-repositories-with-repository-templates/

The process can be done manually by just going to `https://github.com/myorg/template-repo/generate` and filling the form.

H

[2019-07-14 19:08] sudoforge opened #256 "github_repository_collaborator should accept both short-and-long-form repository name formats"
### Terraform Version

[code]

### Affected Resource(s)

- `github_repository_collaborator`

### Terraform Configuration Files

Example configuration:

[code]

### Debug Output

Irrelevant.

### Panic Output

N/A

### Expected Behavior

The `github_repository_collaborator` resource should have been created.

### Actual Behavior

A 404 error is received from the upstream API due to the endpoint not

[2019-07-14 19:43] sudoforge commented on #256
I'd be happy to take care of this if it is approved for development.

[2019-07-15 14:33] megan07 commented on #171
Thanks @Tenzer for opening this issue. It's been closed with #251 and will be released shortly.

[2019-07-15 14:33] #171 closed

[2019-07-15 14:39] Tenzer commented on #171
You're welcome. Thank you for fixing this bug!

[2019-07-16 20:11] tracypholmes commented on #256
Hi @sudoforge. Thank you for opening this issue! We would be happy to accept a PR for this if you would like to open one.

[2019-07-16 20:15] tracypholmes commented on #230
Hi, @julianvmodesto! Thank you for opening this issue. This is being closed as a duplicate of #190.

[2019-07-16 20:15] #230 closed

[2019-07-16 20:33] #95 closed

[2019-07-16 23:30] majormoses commented on #130
It's technically manageable by org maintainers, I personally do not want anyone as team maintainers at my org as they should only be able to make team changes in github but I realize not every setup is the same and can see why this would be desired. I support this behind a feature flag with the old defaults to maintain backwards compatibility.

[2019-07-17 08:00] carinadigital commented on #130
create_default_maintainer defaulting to false is the same as the previous behaviour.

[2019-07-17 21:16] tracypholmes commented on #238
Hi @biancarosa. We would be happy to accept a PR for this if you would like to open one. Looking forward to it, and let us know if you have any questions!

[2019-07-18 22:52] #146 closed

[2019-07-21 13:53] mithun opened #260 "github_user data source should support current authenticated user"
### Terraform Version

[code]

### Affected Resource(s)

- `github_user` data source

### Terraform Configuration Files
[code]

### Expected Behavior

The current authenticated user's github login is printed as a terraform output.

### Actual Behavior

[code]

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:
1. `terraform apply`

### Important Factoids

`g

[2019-07-22 22:19] megan07 commented on #190
Thanks @kayrus for opening this issue. It's been closed with #255 and will be released shortly.

[2019-07-22 22:19] #190 closed

[2019-07-22 22:19] megan07 commented on #205
Thanks @StephenKing for opening this issue. It's been closed with #255 and will be released shortly.

[2019-07-22 22:19] #205 closed

[2019-07-26 17:48] usamaahmadkhan opened #263 "Add support for creating script hooks in Github repositories"
This is a feature request.

### Terraform Version
Not applicable

### Affected Resource(s)
Not applicable

### Terraform Configuration Files
Not applicable

### Debug Output
Not applicable

### Panic Output
Not applicable

### Expected Behavior
Terraform should support a resource to install a hook (simple scripts in `.git/hooks/`) while creating a repository

### Actual Behavior
No support for hoo

[2019-07-30 09:10] deppy commented on #83
They're adding additional functionality into the graphQL/v4 api that isn't being added to v3.  ([traige and maintain permissions](https://developer.github.com/v4/enum/repositorypermission/) for example)

@joebowbeer looks like [repo creation](https://developer.github.com/v4/mutation/createrepository/) has been added, didn't see a get-contents equivalent though.

[2019-07-30 12:13] captn3m0 commented on #83
A simple GraphQL API based cache layer that is used while refreshing any resource will speed up operations by a lot. (One call to fetch a list of all repositories and then cache this for when a repository information is fetched.

That way it could use both?

[2019-08-01 15:46] vinniegarcia opened #264 "Feature request: support deleting head branch of Github pull requests"
Requesting that you support the new feature to automatically delete the head branch of pull requests that Github just announced here: https://help.github.com/en/articles/managing-the-automatic-deletion-of-branches. A small thing but it saves manual effort. Thanks in advance!

[2019-08-06 07:28] TomTucka commented on #264
Happy to do this as soon as `go-github` support it, I raised an issue over on their repository: https://github.com/google/go-github/issues/1245

[2019-08-07 08:38] joebowbeer opened #267 "Enabling require_code_owner_reviews also enables dismissal_restrictions"
### Terraform Version
Terraform v0.11.14
+ provider.github v2.2.0

### Affected Resource(s)
- github_branch_protection

### Terraform Configuration Files

[code]

### Expected Behavior
Requiring code owner reviews should not affect dismissal_restrictions.

### Actual Behavior
dismissal_restrictions is enabled in GitHub console, but no one is listed as being able to dismiss:

[code]

If, furthermor

[2019-08-07 10:13] steven-edgar opened #268 "prevent_destroy flag errors without sufficient feedback"
### Terraform Version

Terraform v0.12.0
+ provider.github v2.1.0
+ provider.google v2.8.0

### Affected Resource(s)
Please list the resources as a list, for example:
- github_repository

### Terraform Configuration Files
[code]

### Debug Output
Please provider a link to a GitHub Gist containing the complete debug output: https://www.terraform.io/docs/internals/debugging.html. Please do NOT paste

[2019-08-09 09:59] verbruggenalex commented on #267
I'm having the same behavior. I think if the option is not defined the checkbox should stay unchecked.

Subscribing to this issue.

[2019-08-12 20:07] joebowbeer commented on #267
I verified that `dismissal_restrictions` can be disabled by setting it to an empty object:

[code]

Before running that command the dismissal_restrictions created by terraform looked like:

[code]

After running this command, dismissal_restrictions was no longer present in branch protection response.

Does the current terraform provider do the right thing? It's unclear from looking at the code

[2019-08-12 20:43] verbruggenalex commented on #267
Yes this seems to be the correct behavior: https://developer.github.com/v3/repos/branches/#update-branch-protection

Case closed I guess ...

[2019-08-13 05:44] verbruggenalex commented on #267
Ah now I see. The `dismissal_restrictions` is not available in the terraform github provider settings. So there's no way to uncheck the checkbox. I think some refactoring is needed to solve this in terraform.

[2019-08-13 11:58] eduardohf-ciandt opened #269 "github_branch_protection is not creating restriction if only a single team is provided."
### Terraform Version
Terraform v0.12.3
- provider.github v2.2.0

### Affected Resource(s)
- github_branch_protection

### Terraform Configuration Files
[code]

### Expected Behavior
GitHub Branch should show the admin team in "Restrict who can push to matching branches" session.

### Actual Behavior
No team is displayed in the "Restrict who can push to matching branches" session.

### Steps to Re

[2019-08-13 17:32] joebowbeer commented on #267
Summarizing where I'm at now.

At one time terraform created this erroneous state, which prevents anyone from dismissing a review:

[code]

I don't know whether terraform continues to produce this state, but I do know that terraform is unable to clean up this state.

I verified that the go-github was broken wrt dismissal_restrictions but is now doing the right thing.

[2019-08-21 09:08] Ameausoone opened #270 "github_team_repository permission field do not accept "maintain""
### Terraform Version

Terraform v0.11.14
provider.github v2.2.0

### Affected Resource(s)
Please list the resources as a list, for example:
- github_team_repository

### Terraform Configuration Files
[code]

### Debug Output
N/A

### Panic Output
N/A

### Expected Behavior
We expect to assign "maintain" role on repository for specified team.

### Actual Behavior
But this role is still in beta, it

[2019-08-21 11:01] carinadigital commented on #254
Look at the terraform provider docs https://www.terraform.io/docs/extend/writing-custom-providers.html
And then for github look at https://developer.github.com/v3/repos/#create-repository-using-a-repository-template

[2019-08-21 13:11] gjambet opened #271 "Feature request: Support secret creation for github actions"
Hi friends,

 it would be super cool to be able to set secrets for actions through terraform while creating a repository. ;)

ty,

g. (happy action user)

[2019-08-22 16:38] caarlos0 opened #272 "Feature request: automated security fixes"
It would be awesome if we could enabled the "automated security fixes" on repositories :)

[2019-08-26 04:14] isen-ng commented on #176
I found the problem and it's not easily solvable without Github's intervention.

To add a user as a collaborator to a repo, the current logged in user (through OAuth or PAT) must already have admin access to the repo.

[2019-08-27 13:37] tomasaschan opened #275 "New resource: Github Pubsubhubbub subscription"
It would be nice if this provider supported [Pubsubhubbub](https://developer.github.com/v3/repos/hooks/#pubsubhubbub) subscriptions. For example, I've run into a situation with a monorepo and a bunch of environments with their own webhooks where we've hit the 20-hooks-per-repo limit, and I think it would be possible to get that working again with Pubsubhubbub configuration instead.

This would mea

[2019-08-27 14:34] iniinikoski commented on #269
Hmm, I'm working on the same topic here - but seems to work here... Will post more info soon...

[2019-08-28 09:18] mmoscher commented on #269
For me some similar issue occurred: when a repo permissions for a team and a repo branch protection depending on the same team are created in the same run, the team is not listed in the branch protection. Deleting the protection and adding it (using terraform) again, works.

The official documentation states:
`teams: (Optional) The list of team slugs with push access. Always use slug of the team,

[2019-08-30 20:52] kuwas commented on #173
Would be ideal if there was an authoritative labels resource, using something like the dynamic blocks introduced in 0.12, each block is a label. Any labels not found in the supplied list will be removed.

[2019-09-01 16:17] #176 closed

[2019-09-04 13:13] hronix commented on #271
Yes please

[2019-09-04 18:18] majormoses commented on #155
@radeksimko @paultyng @tracypholmes any update/feedback? I would like to make a PR to fix this but wanted to see if it would be accepted beforehand since there was some controversy around this.

[2019-09-10 05:56] hazcod opened #278 "Repository: name already exists on this account"
### Terraform Version
`Terraform v0.12.8`

### Affected Resource(s)
- github_repository (all of them)

### Terraform Configuration Files
https://github.com/ironPeakServices/infrastructure/blob/master/modules/github/repositories.tf

### Debug Output
[code]

### Panic Output
n/a

### Expected Behavior
Repositories created or reported as already existing, just added to state.

### Actual Behavior
The

[2019-09-10 13:36] c-knowles commented on #278
Have you tried a command like `terraform import github_repository.iron-redis iron-redis`? Not sure automated import is usually provided by providers.

[2019-09-10 14:04] hazcod commented on #278
The original content was generated by https://github.com/GoogleCloudPlatform/terraformer FYI.

[2019-09-10 16:42] c-knowles commented on #278
Sounds like the terraformer project might not support the tfstate import properly for this case, not used it before so a bit unsure. Looks interesting though, will try it out.

[2019-09-11 10:56] liamg opened #279 "Extra permissions required"
We require the use of the `triage` permission, which is currently still in beta (see https://help.github.com/en/articles/repository-permission-levels-for-an-organization).

What is the view on supporting beta features? Would you accept a PR to add the beta permissions to `github_team_repository`?

[2019-09-17 15:12] jacekn opened #280 "Feature request: alternative way to maintain team membership"
It would be convenient to have ability to maintain team membership using member list rather than user-team resources.

Currently team membership is configured using resources like this:
[code]

In a larger organization, for example with over 100 teams and 1000 users, number of resources that need to be managed will be very large, it can even be tens of thousands. This will cause state refresh to t

[2019-09-19 13:38] lsowen opened #281 "Feature Request: add apps to github_branch_protection restrictions"
The [Branch Protection Api](https://developer.github.com/v3/repos/branches/#update-branch-protection) supports adding applications (`apps`) to the push `restrictions` of the branch protection.

Currently, the provider only supports `teams` and `users`.  This is useful to allow Github Apps to perform automated merge actions of PRs.

It looks like this became available only very recently: https://de

[2019-09-27 09:25] zzh8829 commented on #271
github hasn't made api for secrets available yet, we have to wait for now

[2019-09-30 11:46] Ameausoone opened #283 "Error when import github_repository resource in child module"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.12.9
+ provider.github v2.2.1

### Affected Resource(s)
Please list the resources as a list, for example:
- github_repository

### T

[2019-09-30 23:36] kevinburkemeter commented on #162
Any chance we can leave this issue open, in case Github adds support for it? I want to subscribe to something, so I get an email in case the status of support changes.

[2019-10-01 23:08] jkenn99 commented on #254
This is implemented in go-github https://github.com/google/go-github/blob/v28.0.1/github/repos.go#L352-L371

[2019-10-02 05:37] MatissJanis commented on #272
Github now has API to enable this: https://developer.github.com/v3/repos/#enable-automated-security-fixes

Can we see this added to the project? :)

[2019-10-03 07:55] majormoses commented on #272
We are currently on https://github.com/terraform-providers/terraform-provider-github/tree/v2.2.1/vendor/github.com/google/go-github/v25 this functionality was added upstream via https://github.com/google/go-github/commit/ae920610bb8700b8cfdcf7bb313eef1fe1177886 so there will need to be vendor update for this. I see #277 would bring in the changes required to implement it.

[2019-10-08 22:13] kevinburkemeter commented on #171
Couldn't find this on Google even though it fit my problem to a T so going to try to add some text to see if it fits... my coworker noticed `github_repository_webhook` constantly attempting to update the `secret` value in place / generating a diff despite us not changing the secret value at all. The solution was to pin the Github terraform provider at 2.2.1, then taint/recreate the webhooks, which

[2019-10-09 22:30] sergeylanzman commented on #278
@hazcod If you imported with terraformer before v0.8? version 0.8 support terraform 0.12

[2019-10-16 09:35] hazcod commented on #278
Can confirm this works with latest `terraformer`.

[2019-10-16 09:35] #278 closed

[2019-10-16 09:36] hazcod opened #284 "Error: rpc error: code = Canceled desc = context canceled"
### Terraform Version
hashicorp/terraform-github-actions/init@v0.4.4

### Terraform Configuration Files
https://github.com/ironPeakServices/infrastructure/tree/feat/dockersecurity

### Output
https://github.com/ironPeakServices/infrastructure/pull/9/checks?check_run_id=261962158
https://github.com/ironPeakServices/infrastructure/pull/9/checks?check_run_id=261962158

### Expected Behavior
Plan to w

[2019-10-18 09:31] tiesmaster opened #285 "Feature request: Autolink references"
GitHub recently launched ["Autolink references"](https://github.blog/2019-10-14-introducing-autolink-references/). It would be awesome if you'd configure that using the `github_repository` resource ;)

[2019-10-18 09:39] tiesmaster commented on #238
I don't know if this should really a separate issue, but you can also [grant more people access to your security alerts](https://help.github.com/en/articles/managing-alerts-for-vulnerable-dependencies-in-your-organization). It'd be nice if you can also do that.

[2019-10-18 17:28] jcudit opened #286 "[Feature Request] Pull Requests and `git` branch publishes"
### Overview

👋 from GitHub's datacenter team.  We are requesting guidance on functionality for this pair of features:

- Add limited support for the [Git Data API](https://developer.github.com/v3/git/)
  - [ ] Assemble a git tree from one or many [templatefile](https://www.terraform.io/docs/configuration/functions/templatefile.html) outputs
  - [ ] [Publish](https://github.com/google/go-github/bl

[2019-10-19 17:53] jorgetovar opened #287 "How to update branch protection using Terraform without remote branch in GITHUB?"
### Terraform Version
Terraform v0.12.10
+ provider.github v2.2.1

### Affected Resource(s)

- github_branch_protection

### Expected Behavior
What should have happened?
[code]
### Actual Behavior
What actually happened?
`Error: PUT https://api.github.com/repos/jetprogramming/foo/branches/staging/protection: 404 Branch not found []`

### Steps to Reproduce

[code]

Please list the steps required t

[2019-10-21 20:10] Jonnymcc commented on #280
I wonder if this same idea could be used for managing the repositories that teams have access to using the github_team resource alone, and not use multiple github_team_repository resources.

[2019-10-22 14:47] Jonnymcc opened #290 "Remaining API calls decreases even when no resources change."
### Terraform Version
Terraform v0.11.14
+ provider.github v2.2.1

### Affected Resource(s)
All GitHub resources that use ETAGs?

### Terraform Configuration Files
Just lots of github_membership, github_team_repository, and github_team_membership resources. Nothing special.

### Debug Output
Example debug output
https://gist.github.com/Jonnymcc/3fe98653abfc8a44abf2fc64528b092d

### Panic Output
No

[2019-10-22 18:20] hashibot[bot] opened #291 "Error: rpc error: code = Canceled desc = context canceled"
_This issue was originally opened by @hazcod as hashicorp/terraform#23088. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
Github action: hashicorp/terraform-github-actions/plan@v0.4.4
which uses Docker: hashicorp/terraform:0.12.10

### Terra

[2019-10-25 13:56] iniinikoski commented on #279
Looks like they are out of beta: https://github.blog/2019-10-03-delegate-responsibilities-with-expanded-repository-permissions/

It would be great to have the provider support for new permissions...

[2019-10-25 18:34] paultyng commented on #286
Potentially related issues:
- https://github.com/terraform-providers/terraform-provider-github/issues/7
- https://github.com/terraform-providers/terraform-provider-github/issues/106
- (related, but a separate feature) https://github.com/terraform-providers/terraform-provider-github/issues/254

[2019-10-26 16:58] jcudit commented on #286
@paultyng - thanks for discussing this yesterday.  Key takeaways I've captured are below.

---

☝️ has been implemented over in https://github.com/edahlseng/terraform-provider-repository-template (❤️@edahlseng) and can be leveraged as a base.  Doing so allows us to move the design away from the procedural `github_pull_request` concept and towards a declarative `github_repository_content` concept i

[2019-10-31 08:26] hazcod commented on #291
Bump.

[2019-11-04 09:20] hazcod commented on #291
Same for terraform 0.12.13.

[2019-11-06 10:57] calvin-brizzi opened #292 "2.2.1 tries to re-create existing resources when nothing changes"
### Terraform Version
Terraform v0.12.13
Github Provider version 2.2.1

### Affected Resource(s)
All Github resources

### Expected Behavior
As nothing has changed, no changes to be committed.

### Actual Behavior
All resources are created again.

For example `terraform state list` includes
`github_team_repository.developers["docs"]`

but then `terraform apply` spits out

[code]

### Steps to Repr

[2019-11-06 16:29] sean-nixon opened #293 "Feature request: GitHub IdP Teams Sync support"
## Overview

We are wanting to leverage GitHub's new Team Sync capabilities to manage GitHub team memberships with groups from our IdP (Azure AD). It would be great if the GitHub provider supported that functionality.

## Proposed new resources
This functionality would probably require two new resources/data sources at a minimum.
* New resource: `github_team_sync_group_mapping`
* New data source:

[2019-11-11 22:19] skeggse commented on #208
What's the recommended way for interacting with other tools that modify terraform-managed state? I recognize that this is a bit of an anti-pattern, but we have a mechanism for identifying repositories that match certain criteria and adding topics to those repos. Is there a good tool for mutating the `.tf` files instead of interacting with the GitHub API directly?

If not, I'd like to propose the a

[2019-11-12 23:54] skeggse opened #294 "request: support null for required_approving_review_count"
### Terraform Version

[code]

### Affected Resource(s)

[code]

### Terraform Configuration Files

[code]

### Debug Output

N/a

### Panic Output

N/a

### Expected Behavior
What should have happened?

The provider should have configured the branch protection without any required reviewers. The upstream service supports `null` for the `required_approving_review_count` field, and assigns it accor

[2019-11-13 15:59] tylersmith34 commented on #155
Please fix this, I just ran through this fire drill on 200+ repos and had to use the ignore_changes hack.

[2019-11-14 11:23] yacut opened #295 "[Feature] Add milestone support"
## Overview
I want to manage the Repository Milestones with Terraform.

## Proposed new resources

This functionality would probably require two new resources/data sources at a minimum.

    New resource: github_repository_milestone
    New data source: github_repository_milestone

## Possible configuration

[code]

## Related materials

- https://github.com/features/project-management/

[2019-11-19 21:35] iniinikoski commented on #294
Also bumped into this... :|

[2019-11-22 17:12] kpfleming opened #298 "Handling renames of user accounts properly - thoughts?"
### Terraform Version
Terraform v0.12.12
+ provider.github v2.2.1

### Affected Resource(s)
github_team_membership

### Expected Behavior
Terraform should not have planned to make a team membership change because the user was already in the team.

### Actual Behavior
Terraform plans to make a team membership change.

### Steps to Reproduce
1. Add a user to a team, and apply the changes.
2. Ask the

[2019-11-26 14:32] liamg commented on #279
PR created! Sorry for the delay on this!

[2019-11-27 01:18] kpfleming commented on #287
As noted in the answer on StackOverflow, this is not possible: the branch to be protected has to exist before the protection can be enabled for it (and if the branch is removed the protection will be removed too).

[2019-12-01 14:52] mindfulmonk opened #304 "Support "internal" repository types"
Hi,

Currently the provider only supports `private = true`, but there is now a new type called `internal`.
I think this should now be switched to a new variable called `visibility` with three possible values `public`,`private` and `internal`

References:
https://www.terraform.io/docs/providers/github/r/repository.html#private
https://help.github.com/en/github/creating-cloning-and-archiving-reposit

[2019-12-01 18:10] edahlseng commented on #286
Woot, super excited to see interest in features like this in an upstream provider! Let me know if there's anything I can do to help. Always happy to accept pull requests on my provider in the meantime, too!

[2019-12-02 19:52] EvertonSA commented on #291
also happening with terraformer, from google. https://github.com/GoogleCloudPlatform/terraformer

[2019-12-03 18:10] goloroden commented on #269
We have the same problem as @mmoscher with Terraform 0.12.16:

If you assign a repository to a team, and want to use that team for branch protection, the assignment works, but the team is not set for branch protection (it actually is set in the state file, but not on GitHub).

If you then unset the team for branch protection, apply, re-set it, and apply again, it's there.

So yes, our impression i

[2019-12-05 00:19] kpfleming commented on #130
I've just begun using this provider, and ran into this issue today for the first time. I *am* an org admin, so I don't need to be included in teams I create (and I usually remove myself as I don't want to receive notifications sent to the team). Before I read this issue and the two associated PRs, I assumed we could just completely suppress the automatic behavior from GitHub because there wouldn't

[2019-12-05 01:24] kpfleming commented on #130
Taking that one step further, the top-level provider could also obtain the username of the user who owns the token, and then if a `github_team_membership` resource is seen for that same user with permissions *less* than `maintainer`, an error would be generated.

[2019-12-06 18:07] kuwas opened #305 "Feature Request > New branch protection features support"
# Description

Please add support for the new branch protection features:
* `required_linear_history`
* `allow_force_pushes`
* `allow_deletions`

### Terraform Version
[code]

### Affected Resource(s)
- `github_branch_protection`

### Terraform Configuration Files
[code]

### Debug Output
n/a

### Panic Output
n/a

### Expected Behavior
New branch protection features are supported

### Actual Beha

[2019-12-07 02:47] mononokehime opened #306 "Import on github_repository leaves license template value as null"
After importing an existing GitHub repo, the license_template field is set to null. When running `terraform apply` terraform wants to re-create the repo.

### Terraform Version
terraform -v
Terraform v0.12.17
+ provider.github v2.2.1

### Affected Resource(s)
- github_repository

### Terraform Configuration Files
[code]

### Debug Output
From the import:
https://gist.github.com/mononokehime/fe1619

[2019-12-09 02:02] josh-padnick opened #307 "Deleting a user from a team does not revoke a pending invitation"
### Terraform Version
Terraform v0.11.14

### Affected Resource(s)
- github_team_membership

### Terraform Configuration Files
[code]

### Expected Behavior
We had a user that received an invitation to join our GitHub Org but did not yet accept that invitation (a "pending member invitation") at the time that we deleted his username. But when we looked in GitHub, the invitation was still outstandin

[2019-12-09 02:43] kpfleming commented on #307
Which version of terraform-provider-github are you using?

[2019-12-09 02:45] josh-padnick commented on #307
Our provider block is set to `* provider.github: version = "~> 2.2"` so I'm using 2.2.1.

[2019-12-13 11:40] kpfleming commented on #298
After learning more about the internals of Terraform this clearly can't work, because *data* objects are not persisted in the state.

This would mean that we'd need a `github_user` resource instead: it wouldn't be creatable or destroyable (only importable), but would otherwise behave as proposed above.

I'm going to experiment with this shortly.

[2019-12-13 17:26] StephenWithPH opened #308 "Graceful handling of 404s which may be auth errors"
Today, `github_repository_deploy_key` does bad things when Terraform receives a `404` from GitHub because the user-provided GitHub api token doesn't have sufficient permissions to manage repository deploy keys. This can happen when _reading_ the resource's state from GitHub's api upon refresh.

This can arise in environments where multiple users collaborate on the same set of Terraform configs whi

[2019-12-16 09:26] joscha commented on #193
This still seems to happen on:
[code]

any chance we can get this merged? It's almost nearing it's birthday :)

[2019-12-17 20:33] jcudit commented on #298
As discussed over Zoom, let's check back in after a couple of months while the following tasks are worked on:

- [ ] @kpfleming to perform exploration work around a `github_user` resource
- [ ] @kpfleming to explore using the standard testing framework to express the **Steps to Reproduce**
- [ ] @kpfleming to explore writing an unrelated provider to gain experience that would benefit future improv

[2019-12-18 22:11] mrwacky42 commented on #285
Does GitHub API even support this yet?

[2019-12-19 17:54] iniinikoski commented on #271
Hi. Any updates on this - is the Secrets API still private...?

[2019-12-19 18:09] jcudit commented on #254
I've got a local branch implementing this feature with a passing test:

[code]

I'm blocked on onboarding at the moment but plan on getting a PR associated with this issue once  I have access to publish my branch.

[2019-12-23 11:01] willejs commented on #254
@jcudit thats great! I had done a similar thing and was just about to write a test and push it. Would be good to see this get merged in.

[2019-12-23 20:32] jcudit commented on #254
@willejs see the linked PR above ☝️ .  Feedback is welcome if you've got the time.

[2019-12-27 14:54] kszarek commented on #238
@biancarosa are you going to work on this? I also need it for my Github automation.

[2020-01-03 08:59] alexbde commented on #304
Any update on this? We are really looking forward to this.

Details on API: https://developer.github.com/v3/repos/#parameters-4

[2020-01-03 09:05] alexbde commented on #270
As stated in #296 this feature is out of beta / generally available: https://github.blog/2019-10-03-delegate-responsibilities-with-expanded-repository-permissions/

[2020-01-03 13:36] zlepper commented on #167
According to some feedback from GitHub's developer support, this has to be done through the v4 api.

@majormoses I'm not sure if you are the correct person to ask about this, but here goes: Is there any chance we can use the V4 library in this project? Then we I would be willing to take a go at implementing this. I seems google/go-github will only implement things from the v3 api.

[2020-01-04 01:16] majormoses commented on #167
I can't really say I have not used the v4 api but its VERY different and would require an entire rip out and replace every resource with the appropriate changes which would be no small task. Short of someone being incredibly motivated or hashicorp sponsoring the changes I dont see it any time soon. The "currently recommended" library would be https://github.com/shurcooL/githubv4

[2020-01-04 01:52] kpfleming commented on #167
I suspect we could use both client libraries in the provider at once; they shouldn't interfere with each other. Each resource implementation could use one or the other (or possibly both).

[2020-01-04 02:02] majormoses commented on #167
It's very possible they can run side by side but investigation is needed before we can jump to that conclusion. We need to be careful of namespace conflicts, auth, etc. For example I see that the v3 api supports basic auth and oauth where v4 only supports oauth. I can't recall if we allow basic auth in our implementation but it's one of the things that needs investigation before assuming its 100%

[2020-01-04 02:13] kpfleming commented on #167
The provider supports unauthenticated connections and OAuth2 token authenticated connections, but not basic auth connections.

[2020-01-04 02:27] majormoses commented on #287
I think this is the same ask as #167

[2020-01-04 02:33] kpfleming commented on #298
I've completed items 1 and 3 from this list; item 2 requires some documentation of the environment require to be able to run the test suite before I can experiment with it.

PR #316 is a nearly-comprehensive attempt to address this issue; it allows the Terraform user to use numeric user IDs for GitHub users in their configuration, even though the GitHub API does not accept them (they are translate

[2020-01-05 22:28] majormoses commented on #155
Hey all: I have proposed rolling back the changes in #317 but it's up to the maintainers to accept it. So far @radeksimko has been against it without providing any further rationale so I can't really say if this will be accepted or even entertained.

[2020-01-05 22:48] majormoses commented on #308
I would highly encourage you to avoid this all together and use something like jenkins, atlantis, or terraform enterprise to have a system for interacting with github (with terraform) rather than people running things locally on their workstations when making administrative changes.

I am not opposed to the concept (though I probably not thought through all the implications) but I think if impleme

[2020-01-06 16:30] StephenWithPH commented on #308
In general, that is exactly what we do. In this case, we have a bootstrapping problem: the build agents which will run Terraform in the future first need to be configured with deploy keys, IAM roles, etc. That privileged, infrequent action has to be run by a human. Because it is infrequent yet important, we automated it with Terraform.

We learned that some privileged users were more privileged th

[2020-01-07 19:41] Ameausoone commented on #270
OK I close this issue, duplicate with #296  thx @alexbde

[2020-01-07 19:41] #270 closed

[2020-01-09 16:39] gdavison opened #319 "It is possible to create duplicate `github_repository_collaborator` resources"
It is possible to create duplicate `github_repository_collaborator` resources if the same username is used twice. The GitHub API appears to return the same information, as the invitation IDs are the same.

I discovered this in an existing Terraform configuration while converting from list & `count` to set & `for_each`.

[code]

### Affected Resource(s)

- github_repository_collaborator

### Exampl

[2020-01-10 14:48] grobie commented on #55
@radeksimko I believe Github's API provides renaming support https://developer.github.com/v3/repos/#edit. I haven't verified it myself yet, but there are multiple stackoverflow answers confirming this behavior https://stackoverflow.com/questions/4777535/how-do-i-rename-a-github-repository-via-their-api.

Do you accept PRs supporting renaming?

[2020-01-10 21:54] kpfleming commented on #319
In order to do that the provider would have to query the existing collaborator list during repository creation, instead of just calling `AddCollaborator`, but if it did that then it would not work with repositories that are being imported and already have outstanding collaborator invitations.

It may not be possible for the provider to detect the situation where an invitation exists (or the user h

[2020-01-11 06:12] majormoses commented on #55
there is relevant discussion on #65 that would be useful to anyone looking to submit a PR it requires a bit of refactor to leverage the repository id (not documented) internally with terraform so it can know the difference between a rename and a delete and create.

[2020-01-11 12:48] kpfleming commented on #55
Indeed, any resource which can be renamed should be identified by its permanent identifier inside Terraform (and in the Terraform configuration); I've done a bunch of work in that area for identifying users already, but it could be done for repositories as well.

[2020-01-12 00:34] php-coder commented on #173
It would be great to get it fixed given that there are already 2 PRs for that.

[2020-01-14 17:32] mwarkentin commented on #285
I haven't seen it anywhere.. would be nice though..

[2020-01-14 18:15] #254 closed

[2020-01-15 16:40] gjambet commented on #271
❤️

[2020-01-16 00:03] jcudit commented on #271
GitHub is aiming to make this endpoint available within the next few sprints.  Mention me here if I don't post an update in a month or so.

[2020-01-16 20:57] jcudit commented on #43
👋 @onnimonni - does support for [Template Repositoiesy](https://github.com/terraform-providers/terraform-provider-github/pull/309) help to solve your use case? Or is forking of other repositories still a need?

[2020-01-16 21:04] brendanjerwin opened #323 "github_team_membership reports change in team ID, then fails to recreate"
### Terraform Version
0.12.16
provider "github" (hashicorp/github) 2.2.1...

### Affected Resource(s)
- github_team_membership

### Behavior
We saw:
[code]

Followed by
[code]

I tested the API: `https://api.github.com/teams/123456/memberships/foobar` and got:

[code]
Note the `url` attribute.

The code appears to parse the team ID out of the URL returned by this call: https://github.com/terraform

[2020-01-16 21:09] razorsedge commented on #323
I just ran into this as well.

[2020-01-16 21:11] Jonnymcc opened #324 "github_team_membership team_id not being imported"
### Terraform Version
Terraform v0.11.14
+ provider.github v2.2.1

### Affected Resource(s)
- github_team_membership

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
When running terraform show, the `github_team_membership` resource should have a `team_id` attribute value.

### Actual Behavior
The `team_id` = "".

### Steps to Reproduce
Please list the step

[2020-01-16 21:19] majormoses commented on #43
I think they are different use cases, its fairly common to need to be able to fork an upstream open source project and start consuming it until your changes have been accepted upstream.

[2020-01-16 21:22] samrees commented on #323
Just ran into this. found a way to temporarily change the state file such that terraform shows no changes by re-importing the resources and fixing the team_id field by hand, but the bug pops right back up when anything needs to change.

[code]

[2020-01-16 21:23] samrees commented on #324
duplicate of https://github.com/terraform-providers/terraform-provider-github/issues/323

[2020-01-16 21:39] brandoncamenisch commented on #324
Same issue for me as well :cry: just popped up this morning.

[2020-01-16 21:55] gihad commented on #323
@brendanjerwin @razorsedge @samrees Any of you have found a workaround? Perhaps specifying an older version of the provider?

[2020-01-16 22:05] brandoncamenisch commented on #323
I tested a few versions back but same issue :sob: afaict There hasn't been any updates to 2.2.1 for quite some time. :thinking: I wonder if there was an update somewhere else (GH maybe) and this provider just needs to catch up to that.

[2020-01-16 22:08] gihad commented on #323
@brandoncamenisch That's also my hunch, I also took a look at the code history and didn't see changes for a while that would explain this happening now.

[2020-01-16 22:37] samrees commented on #323
This makes no sense to me. This started happening this morning, yet the code mention hasn't changed in 4 years.

https://github.com/terraform-providers/terraform-provider-github/blob/2c03b951bb0aadc56d5f3e9a254f464d5ee018b8/github/resource_github_team_membership.go#L148

changing this does seem to fix it?

[code]

https://developer.github.com/v3/teams/members/#get-team-membership shows "teams" plu

[2020-01-16 22:44] skeggse commented on #281
Looks like support for this in `go-github` landed in https://github.com/google/go-github/pull/1283.

[2020-01-16 23:49] steakfest commented on #323
I came to the same conclusion that @samrees came too and came here to post about it.

I suspect that github pushed an update to their API today.  Possibly thinking they were "fixing" an issue and of course broke our tool relying on this specific url pattern.

I would propose that instead of changing that line from `teams` to `team` that maybe a safer bet would be to add some `OR` logic so that it

[2020-01-17 00:21] samrees commented on #323
The pr I made removes the function that string parses the URL entirely as relying on that URL for anything other than a self referential URL is incorrect .

Githubs love of hypermedia APIs is admirable but causes this kind of confusion. Most devs I've seen don't want to write a crawler to interact with an API, in which case the right answer is to throw away all the URLs returned by the v3 api.
  h

[2020-01-17 00:57] shouichi commented on #323
@jcudit Could you take a look at this issue? It seems like GitHub changed their API and this provider is affected. As a result `terraform plan/apply` always fails 😭

[2020-01-17 05:43] skeggse opened #327 "support configuring repository as a template repository"
### Terraform Version
N/a

### Affected Resource(s)
Please list the resources as a list, for example:
- `github_repository`

### Terraform Configuration Files
[code]

### Debug Output
N/a

### Panic Output
N/a

### Expected Behavior
I'd like Terraform to support the template repository feature on the repository end - where the repository is specified as a template for use elsewhere. This is suppor

[2020-01-17 14:21] mwarkentin commented on #238
We could use this too. :)

[2020-01-17 14:34] mwarkentin opened #328 "Support creating repository from template"
This is the flipside of #327 - it would be great to be able to launch new repositories from existing template repositories.

**Note**: This API is currently in preview, not sure if that disqualifies it from TF provider support or not.

### Affected Resource(s)

- `github_repository`

### Terraform Configuration Files
[code]

or

[code]

### Expected Behavior
New repository should be created based

[2020-01-17 15:20] hashibot[bot] opened #329 "Github Team Membership fails on terraform destroy"
_This issue was originally opened by @kahootali as hashicorp/terraform#23883. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I am following https://www.terraform.io/docs/providers/github/r/team_membership.html  to create github user and make it a member of Github

[2020-01-17 18:12] steakfest commented on #329
Duplicate of #323 and #324

[2020-01-17 18:18] skeggse commented on #328
This is solved by #254, no?

[2020-01-17 19:53] mwarkentin commented on #328
@skeggse Looks like it, thanks for pointing that out! Guess it's been merged but not released in the provider yet.. will keep my eye out for that!

[2020-01-17 19:53] #328 closed

[2020-01-18 02:01] jcudit commented on #323
I’ve looked and found the likely change that caused this from the GitHub side. My next steps are to get passing acceptance tests for the proposed fix. I can post an update next week if it is yet to be released by then.

[2020-01-18 20:10] kpfleming commented on #43
Agreed we do this too, and for now I perform the forking operation outside of Terraform (and make some content changes to the new repository), then add it to Terraform for management from that point forward.

[2020-01-19 08:56] majormoses commented on #43
I think given that you can't have multiple forks in an org and I am not sure the majority of use cases would need requiring renaming and such. Maybe we should not specify a name in a fork resource keeping that matching the api calls. It could assign the name based on the source of the fork. The org you fork into would be implied from the github provider definition.  I think the resource would look

[2020-01-19 12:50] kpfleming commented on #43
That sounds too complicated to me :-)
I'd rather create a `github_repository` resource to represent the repository *after* the fork, and then create some sort of syntax for `terraform import` to have the fork created during import.

[2020-01-19 14:20] mbrowne commented on #43
@kpfleming One of the things we like about Terraform at my company is that it enables all developers to submit pull requests to create new repos or do anything else we're managing with Terraform. And the permission to create repos directly in GitHub is restricted to one or two admins, because we want to ensure that everyone is using Terraform for this (in fact we have a script that runs nightly an

[2020-01-19 18:01] majormoses commented on #43
If you manually fork, import, and use the existing `github_repository` isn't that basically the same thing minus the automagic create on import? I don't think `import` should ever create resources. This actually seems more complicated to me than to have a resource that represents the fork and allow this to be stitched together with existing resources. If you find it too complicated I think that su

[2020-01-19 21:41] kpfleming commented on #43
We're in almost exactly the same situation (limited number of admins, forks have to be requested), but we also make quite a few *content* changes to repositories that we fork so the actual fork operation is done by a script outside of Terraform, and then the repository is imported into Terraform for further management.

Now that I think about it, the 'fork' operation as a Terraform activity might

[2020-01-20 10:31] willejs commented on #323
@radeksimko do you think we could get the 'quickfix' in #326 merged and released as a stop gap solution? Building a fork of the plugin isnt easily going to get into my CD pipeline...

[2020-01-20 12:45] jcudit commented on #323
I've thrown [this patch](https://github.com/terraform-providers/terraform-provider-github/pull/325) at the [test suite](https://github.com/terraform-providers/terraform-provider-github/blob/master/github/resource_github_team_membership_test.go#L16-L52).  It seems incomplete as a fix:

[code]

I've got time blocked off today to continue investigating.  I'll post updates here.

[2020-01-20 14:47] binlab commented on #45
Any updates on this?

[2020-01-20 15:48] DMonCode commented on #323
Was the /teams to /team change part of the api v3 update? or did GitHub change their API string mid version?

Does provider-github specify it's API version it's looking for or is it just pulling current?

[2020-01-20 15:56] eerkunt commented on #323
Having exactly the same problem :( This is critically effecting our organisation right now :(

[2020-01-20 16:06] jcudit commented on #323
As pointed out [over here](https://github.com/terraform-providers/terraform-provider-github/pull/325#issuecomment-576331378), the error I pasted above is likely due to my inputs to the test case.  Apologies for that misdirection.  I will continue to work towards passing acceptance tests for the proposed fix.

[2020-01-21 10:12] patrickmarabeas commented on #83
I've done a fair amount of work on a GraphQL version of the provider.

The two major foundational pieces look to be:
- Running REST and GraphQL clients side-by-side (including updating resources)
- Updating all resources to use their Global Object ID (including writing state upgraders)

This would then allow resources to be uplifted as required or when possible - the GraphQL API is still pretty ba

[2020-01-21 10:15] patrickmarabeas commented on #167
I've written a GraphQL replacement for `branch_protection` resource. I'll get started on opening some PRs.

[2020-01-21 10:28] thanasisk commented on #323
This is affecting us as well. I will be monitoring this issue for updates. Is there an ETA on a fix?

[2020-01-21 20:01] stefansedich commented on #323
Just hit by this today trying to provision a new hire to our GH org :cry:

[2020-01-21 21:20] tibbon commented on #323
This is impacting me too. Interested to see a fix.

[2020-01-21 21:48] steakfest commented on #323
I'm not sure you anybody else noticed this, so I'm share my experience.

I've found that because of the order of operations by the provider, that generally what I want to happen is still happening.  Since the apply fails to delete after any new memberships have been created, this hans't blocked me from being able to add new members to teams, since terraform doesn't roll back.

[2020-01-22 12:03] #323 closed

[2020-01-22 12:09] radeksimko commented on #329
Thank you @steakfest for noticing, you are right. I'm going to close this as a duplicate of #323

I just merged a PR which fixes the bug and we will release it soon.

[2020-01-22 12:09] #329 closed

[2020-01-22 12:11] radeksimko commented on #324
Thank you @samrees for noticing, you are right.
I'm going to close this as a duplicate of #323

I just merged a PR which fixes the bug and we will release it soon.

[2020-01-22 12:11] #324 closed

[2020-01-22 19:05] tibbon commented on #323
@radeksimko you closed this. Is it a fixed/non-issue?

[2020-01-22 19:08] suever commented on #323
Was released today as v2.3.0

[2020-01-22 19:09] gihad commented on #323
@tibbon The new version they released fix it for me: https://github.com/terraform-providers/terraform-provider-github/releases

I had to add `version = "~> 2.3"` to my provider config.

[2020-01-22 19:15] tibbon commented on #323
Thank you! That just unblocked some stuff on my end, and it's super appreciated. Thanks for the work!

[2020-01-23 13:20] p0bailey commented on #45
Everything seems blocked.

[2020-01-27 17:14] skeggse commented on #264
Cross-linking for reference: https://github.com/google/go-github/pull/1388

[2020-01-27 18:10] #279 closed

[2020-01-27 20:43] ajliv commented on #271
Secrets have been added to the GitHub API https://developer.github.com/v3/actions/secrets/

[2020-01-28 01:01] jakebiesinger-onduo opened #330 "Add support for delete_branch_on_merge"
It would be great to have support for `delete_branch_on_merge`, which was added in `go-github` API v29. You'd have to do a version bump to get there.

### Affected Resource(s)
- github_repository

### Terraform Configuration Files
[code]

Thanks!

[2020-01-28 08:34] vikkyomkar commented on #304
@jcudit I would like to work on this issue

[2020-01-28 14:12] martinssipenko commented on #271
We now need to wait till Go GitHub client releases action secrets - https://github.com/google/go-github/pull/1402

[2020-01-28 15:32] mwarkentin commented on #330
Dupe of #264 ?

[2020-01-28 15:57] jakebiesinger-onduo commented on #330
Yep! Thanks.

[2020-01-28 15:58] jakebiesinger-onduo commented on #264
This is now available in go-github v29. I have a PR for the corresponding `terraform-provider-github` changes, but I don't know how to update the `vendor` directory there. Any pointers?

[2020-01-28 16:59] jcudit commented on #304
@vikkyomkar that is great to hear. I can help with breaking down the work if needed as well as validating acceptance tests pass once a PR is up for review.

Please mention me if there is any support needed while you work through this. Thanks again for volunteering!

[2020-01-29 11:04] springerigor commented on #264
@jakebiesinger-onduo Please try with `go mod vendor`.

[2020-02-01 16:24] #330 closed

[2020-02-01 16:25] jakebiesinger-onduo commented on #264
Thanks, @springerigor. I've opened #342 though there are still a few issues with the PR.

[2020-02-03 08:18] benesis002 commented on #271
+1

[2020-02-03 21:37] paultyng opened #343 "github_repository_collaborator error on read when repository 404"
When a repository is deleted manually, a read for a collaborator resource on that repository errors instead of just removing from state on a 404:

[code]

If the repo is 404, this should exit gracefully and just set ID to empty string, not propagate the error:

https://github.com/terraform-providers/terraform-provider-github/blob/70683693d1a602276f73ce687b1faec9e3607416/github/resource_github_repo

[2020-02-04 08:02] nikovirtala commented on #169
The token used for repository deletion must have a `delete_repo` scope.

[2020-02-04 08:20] nikovirtala opened #344 "Leftover module in state that should have been removed"
### Terraform Version
Terraform: `0.12.19`
GitHub Provider: `2.3.1`

### Affected Resource(s)

Please list the resources as a list, for example:
- github_repository
- github_membership

It is not clear for me whether this is a provider or core issue.

### Expected Behavior

[code]

### Actual Behavior

We are unable to delete successfully repositories or member from our GitHub organization – at le

[2020-02-04 17:26] adamalex opened #346 "[Feature Request] manage hubVirtualNetworkConnections on virtual hub"
### Terraform Version
Terraform v0.12.20

### Affected Resource(s)
Please list the resources as a list, for example:
- azurerm_virtual_hub

### Expected Behavior
We would like to be able to manage `hubVirtualNetworkConnections` on a virtual hub via terraform

### Actual Behavior
This does not seem to be supported in the terraform provider

### Important Factoids
We are able to partially work aroun

[2020-02-04 17:43] kpfleming commented on #346
This repository is for the GitHub provider, not the Azure provider.

[2020-02-04 17:44] adamalex commented on #346
Ha whoops, I will move this

[2020-02-04 17:44] #346 closed

[2020-02-04 17:48] adamalex commented on #346
https://github.com/terraform-providers/terraform-provider-azurerm/issues/5613

[2020-02-05 17:55] #343 closed

[2020-02-10 03:15] patrickmarabeas commented on #164
Github v4 API provides the ability to specify a pattern rather than a branch.

I have uplifted the resource to use the v4 API: https://github.com/terraform-providers/terraform-provider-github/pull/337

[2020-02-10 03:18] patrickmarabeas commented on #167
Uplifted v4 `branch_protection` resource: https://github.com/terraform-providers/terraform-provider-github/pull/337

[2020-02-10 03:22] patrickmarabeas commented on #83
Run v3 and v4 clients side-by-side: https://github.com/terraform-providers/terraform-provider-github/pull/331

Data sources:

[2020-02-10 03:28] patrickmarabeas commented on #83
The API surface for many of these is pretty different. Feedback would be good as to just how backwards compatible these need to be. In my opinion much of the data that was being returned was irrelevant within the context of Terraform.

Addition of v4 client: https://github.com/terraform-providers/terraform-provider-github/pull/331

Data sources:
- `ip_ranges` https://github.com/terraform-providers

[2020-02-10 03:59] julianvmodesto commented on #83
Would it be possible to select the API version for a resource, if v3 and v4 are supported?

The v3 API has conditional requests, which allows for read requests to be cached, so it would be good to keep resources at v3 (at least the reads).

[2020-02-10 11:01] kpfleming commented on #83
It is certainly possible; for example, in the OpenStack provider many resources have _v1, _v2, and _v3 flavors in order to accommodate users with different needs. This provider could provide _v4 flavors of the resources for users who want to upgrade.

[2020-02-10 21:12] btkostner commented on #271
It looks like it was merged https://github.com/google/go-github/pull/1402#issuecomment-583939009 and released in the [v29.0.3 tag](https://github.com/google/go-github/blob/v29.0.3/github/actions_secrets.go).

[2020-02-11 03:33] jcudit opened #350 "Acceptance Tests Failing For `master`"
An issue to drop notes as I work towards a passing acceptance test suite.

[code]

[code]

[code]

[2020-02-11 07:25] martinssipenko commented on #271
I think we should also wait for #342 before we start implementing this one.

[2020-02-11 07:46] martinssipenko commented on #271
What do we think about usage? Should action secrets be a new resource - `github_repository_action_secret` and be used as follows?

[code]

[2020-02-11 07:48] hazcod commented on #271
Is there a way to provide ciphertexts in terraform and supply the key via an environment variable?
I can imagine it's problematic to store plaintext github secrets in terraform files ... which might be located on github again.

[2020-02-11 07:55] martinssipenko commented on #271
@hazcod I think one option would be that resource accepts two conflicting arguments - `secret` and `encrypted_secret`, The `secret` could be used to pass plain text value which would be encrypted by terraform using GitHubs public key. The `encrypted_secret` would accept already encrypted value and leave the encryption the user.

Off topic: In order to not store secrets in terraform files I use an

[2020-02-11 08:32] bkamin29 opened #351 "Add github-actions ip addresses on datasource github_ip_ranges"
Hello,

Can you add the publics ip addresses used by github-actions as result of the datrasource `github_ip_ranges` ?

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- `github_ip_ranges`

[2020-02-11 10:01] martinssipenko commented on #271
@radeksimko @jcudit @paultyng what are your thoughts on this?

[2020-02-11 14:17] tgermain commented on #271
Note for the implementation: how to know if a secret has been changed and need to be updated by terraform ?

The [secret API](https://developer.github.com/v3/actions/secrets/#get-a-secret) does not offer a way to read the content of a secret (normal) but return the `created_at` and `updated_at` date.

Should we store at least the `updated_at` date in terraform state and when we refresh terraform s

[2020-02-11 14:57] martinssipenko commented on #271
Another option is that terraform does not detect and repair "drift" on this resource in case the data is updated or deleted outside of Terraform. I think it might also be possible to not store secrets in state, but instead store a hash value of the secret, in case current value hash does not match hash stored in state an update should be performed.

[2020-02-11 16:49] StephenWithPH commented on #271
A lurker (who wants this feature) chiming in...

I suggest not trying to get too clever regarding secrets in state. I often treat the Terraform Vault Provider as a guide for the official-ish Hashicorp way of doing things in Terraform.

(https://www.terraform.io/docs/providers/vault/index.html)

Directly on the label, they disclaim any cleverness to protect secrets.

I think Terraform core offers e

[2020-02-12 09:03] ruzickap opened #352 "insecure_ssl = true parameter is not working"
### Terraform Version

[code]

### Affected Resource(s)
- github_repository_webhook
- (maybe also github_organization_webhook)

### Terraform Configuration Files

[code]

### Actual Behavior
The GitHub Webhook is properly created, but the "SSL Validation" is not disabled.

### Steps to Reproduce

I'm using the Terrafrom code mentioned above to create GitHub Webhook.
In the code above you can see t

[2020-02-12 09:43] ganhuang opened #353 "Support modifying `Allow forking` option for resource_github_repository"
Currently the the option `Allow forking` is not supported in the resource resource_github_repository. But it could be done via UI.

#### Affected Resource(s)
Please list the resources as a list, for example:
- resource_github_repository

[2020-02-12 18:56] benj-fletch commented on #304
Hi @vikkyomkar is this actively being worked on still? I would also like to work on this issue if you are not actively working on it? Thanks

[2020-02-12 20:46] benj-fletch commented on #144
Hi, I'd like to work on this if possible? I notice it's an older ticket but believe there is still some value in providing this resource?

[2020-02-12 22:06] nyurik opened #354 "anonymous=true should ignore GITHUB_TOKEN env"
### Terraform Version
[code]

### Affected Resource(s)
- provider "github"

### Terraform Configuration Files
[code]

### Expected Behavior
If `provider "github"` contains a token, then yes, it should be an error (because it can be easily fixed by the user), but if it is coming from the env variable `GITHUB_TOKEN`, then in some cases there is not much user can do -- e.g. if terraform runs as part

[2020-02-12 22:20] kpfleming commented on #354
Agreed. This is an example of implicit behavior, which I hate, because having it means we have to have knobs to turn it off. It's already easy to bring an environment variable into Terraform, users should just have to do that :-)

[2020-02-12 22:24] nyurik commented on #354
I second @kpfleming - a proper fix should be to NOT use any env variables automagically at all, and let everything come via predictable terraform code.  If something relies on an env var, let the user explicitly state that -- a few characters will save a lot of unexpected pain.

[2020-02-13 09:25] tgermain commented on #271
Indeed @StephenWithPH , state is already sensitive so we do not have to be too clever using hash in state (instead of plaintext values).

This is also fine if it is clearly mentioned in the doc of the resource.
In case of doubts, you can always _taint_ the doubtful resource in your terraform and recreate it. Terraform is your source of truth so manuals changes outside of it should be committed in

[2020-02-13 14:58] jcudit commented on #286
This was partially addressed by https://github.com/terraform-providers/terraform-provider-github/pull/318.  There is follow up work needed to got Pull Request support added in now that a base layer capable of modifying files has landed.

[2020-02-14 06:28] senare commented on #271
Nice to see that this worked!

imho ... just get it done ... KISS

[2020-02-14 12:45] benj-fletch commented on #353
@ganhuang I don't believe that this is possible to be configured via the [Github API](https://developer.github.com/v3/repos/) for repositories? Do you know another way that this could be supported?

[2020-02-16 08:35] patrickmarabeas commented on #83
What would the "upgrade" / "downgrade" path be between the different resources? State migration?

Won't this be fairly painful with differences in IDs between the resources? At least when it's the same resource you can include an upgrade function which manages this stuff...

[2020-02-17 13:42] TomTucka commented on #264
Can someone assign this to me? I'll get it finished this week

[2020-02-17 15:16] ruzickap commented on #352
Looks like there is only problem with incomplete documentation.

If I use `1` instead of `false` it's working fine:

[code]

[2020-02-18 12:30] benj-fletch commented on #271
Hi, I'd like to take on this as we have a requirement for it in our organisation.
I think that we'd need to merge in https://github.com/terraform-providers/terraform-provider-github/pull/342 before work can be undertaken here, however, since v29 of `go-github` contains the calls we would need to utilise.
If it's ok, I'll start work on this in a branch of master merged with https://github.com/terra

[2020-02-18 12:31] martinssipenko commented on #271
@benj-fletch if you need any help, feel free to ask me.

[2020-02-18 12:37] benj-fletch commented on #271
@martinssipenko Thanks!
I think from reading the comments I'll keep it relatively simple and allow the user of the resource to protect their secrets as they see fit (where possible). I need to see what is available to configure on the API and work on that basis.

[2020-02-18 13:24] jcudit commented on #271
@benj-fletch my only ask on this one is to try to keep things forward compatible with these [related enhancements](https://github.com/google/go-github/issues/1399#issuecomment-579554516).  I'm 👍 on designing for overall Actions support rather than just the `secret` functionality.

[2020-02-18 21:13] benj-fletch commented on #271
@jcudit Sure thing, I will try my best to do so!

[2020-02-20 16:46] timvisher commented on #162
@paultyng This apparently shipped (in beta at least) since this was opened. https://developer.github.com/v3/actions/

[2020-02-20 17:12] paultyng commented on #162
Oh interesting, it does look like the only things with full crud are some of the self hosted runner registration and secrets management though. Not workflows. I'll reopen this.

[2020-02-20 18:23] timvisher commented on #162
I found this issue because I was wondering how I could manage secrets so that's the relevant bit for me. I think your point earlier about workflows being managed by code in the repo still stands. It's the surround configuration that would be interesting to manage otherwise. :)

[2020-02-24 09:20] avishnyakov opened #360 "github_team_membership - how to add another team?"
Is it possible to add another team into team via github_team_membership?

Looked into source code, tests and doco - not sure if this scenario is supported and if so, should id/slug be used for this?

[2020-02-24 10:07] avishnyakov commented on #360
Okay, so it is not membership but a `parent_team_id` property on the team.
Closing this one.

[2020-02-24 10:07] #360 closed

[2020-02-24 16:48] jcudit commented on #327
cc https://github.com/terraform-providers/terraform-provider-github/issues/327

[2020-02-24 16:56] jcudit commented on #162
There is work in progress over in https://github.com/terraform-providers/terraform-provider-github/issues/271 for the `Secrets` subcomponent of Actions.

Our underlying library has broken up Actions support into [various subcomponents](https://github.com/google/go-github/issues/1399#issuecomment-579554516) as well.  This issue can track the overall consumption of Actions features as needed.

[2020-02-25 04:26] patrickmarabeas commented on #83
I would like to keep momentum on this work - who needs to be involved in deciding how this should proceed?

[2020-02-26 14:20] rahulrk13 commented on #291
In my case it was totally related to number of resources getting changed in one go.
I started facing this issue at a time when there were around 3000 changes (90% update in-place). After carefully breaking down the plan to around 1000 changes in each go, i was able to get the whole task done.
PS, almost all changes were related to api gateway integration response and method response, not sure if t

[2020-02-26 14:32] hazcod commented on #291
Seems that this is not the actual error, which is disguised unless you set `TF_LOG=DEBUG`.
Closing

[2020-02-27 08:05] vikkyomkar commented on #352
@ruzickap @jcudit I will raise a PR for this issue

[2020-02-27 17:32] arri-cc commented on #305
Now that #342 is merged, this update is now possible.  Working on it now.

[2020-02-27 23:42] jcudit commented on #352
The fix from ☝️ will land in the next release.  Thanks again to the community for documenting and fixing this bug. 🙇

[2020-02-28 01:50] arri-cc commented on #305
actually, we need the latest version v29.0.3 https://github.com/google/go-github/tree/v29.0.3

I'll submit a separate PR to hopefully get that done first.

[2020-02-28 02:22] patrickmarabeas commented on #83
I've done some preliminary tests on handling the two different APIs using two separate providers. It seems to be the better choice.

This way the resources themselves remain consistent and should allow for upgrade functions to work **if** we start v4 schema versions from say, v100, so there's no possible clash of a resource version between the two providers. Every version can have an update functi

[2020-02-28 07:44] martinssipenko opened #368 "Upgrade to go-github version 29.0.3"
I wanted to create a pull request to upgrade go-github to version 29.0.3, however, I've stumbled across issues that I'd like to discuss prior moving forward with implementation.

The issue is that GitHub has deprecated some of the Team API endpoints (marked as Legacy [here](https://developer.github.com/v3/teams/#teams)). After this change go-github has made a braking change in version 29.0.3, wher

[2020-02-28 07:45] martinssipenko commented on #305
@arri-cc you are correct. I tried doing a simple upgrade, but turned out it's not that simple, I've opened issue #368 where I outlined the issue.